USE [HDSVault]
GO
/****** Object:  StoredProcedure [biz].[update_r_classplanproductlookup]    Script Date: 10/20/2025 12:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================================================================
-- DBMS Name        :    SQL Server
-- Procedure Name   :    update_r_classplanproductlookup
-- Template         :    bci_wsl_sqlserver_proc_non_inc_merge
-- Template Version :    8.1.1.0
-- Description      :    Update the Data Store table r_classplanproductlookup
-- Generated by     :    WhereScape RED Version 9.0.1.1 (build 230817-144223)
-- Generated for    :    Blue Cross of Idaho
-- Generated on     :    Wednesday, August 20, 2025 at 16:10:51
-- Author           :    Alexander Opiyo
--==============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_r_classplanproductlookup]
  @p_sequence         INTEGER
, @p_job_name         VARCHAR(256)
, @p_task_name        VARCHAR(256)
, @p_job_id           INTEGER
, @p_task_id          INTEGER
, @p_return_msg       VARCHAR(1024) OUTPUT
, @p_status           INTEGER       OUTPUT

AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext               VARCHAR(1024) -- Text for audit_trail
  , @v_sql                   NVARCHAR(255) -- Text for SQL statements
  , @v_step                  INTEGER       -- return code
  , @v_merged_count          INTEGER       -- no of records merged
  , @v_insert_count          INTEGER       -- no of records inserted
  , @v_update_count          INTEGER       -- no of records updated
  , @v_delete_count          INTEGER       -- no of records deleted
  , @v_return_status         INTEGER       -- Update result status
  , @v_current_datetime      DATETIME      -- Used for date insert

  --=====================================================
  -- General Variables
  --=====================================================


  --=====================================================
  -- MAIN
  --=====================================================
  SET @v_step = 100

  SET @v_merged_count = 0
  SET @v_current_datetime = GETDATE()

  BEGIN TRY

--============================================================================
  -- Delete existing records
  --============================================================================
   
	MERGE INTO HDSVault.biz.r_classplanproductlookup 
    USING (
      SELECT DISTINCT r_membereligibilityextended_combined_current.bkcc_member AS SourceID
             , r_group_combined_current.grgr_id AS GroupID
             , r_subscriber_combined_current.sbsb_id AS EnrolleeID
             , r_member_combined_current.meme_sfx AS MemberSuffix
             , r_membereligibilityextended_combined_current.cspd_cat AS ClassProductCategory
             , r_membereligibilityextended_combined_current.mepe_eff_dt AS MemberEligibilityEffectiveDate
             , r_membereligibilityextended_combined_current.mepe_term_dt AS MemberEligibilityTermDate
             , r_membereligibilityextended_combined_current.cscs_id AS ClassID
             , r_membereligibilityextended_combined_current.cspi_id AS PlanID
             , r_membereligibilityextended_combined_current.pdpd_id AS ProductID
             , r_membereligibilityextended_combined_current.mepe_mctr_rsn AS MemberEligibilityReason
             , r_membereligibilityextended_combined_current.mepe_elig_ind AS EligibilityIndicator
             , r_membereligibilityextended_combined_current.mepe_fi AS FamilyIndicator
             , r_member_combined_current.meme_sex AS MemberSex
             , r_member_combined_current.meme_birth_dt AS MemberBirthDate
             , r_member_combined_current.meme_rel AS MemberRelationship
             , r_member_combined_current.meme_first_name AS MemberFirstName
             , r_product_combined_current.pdds_mctr_val1 AS FundingType
             , ISNULL(r_subgroup_combined_current.sgsg_id,'') AS SubGroupID
             , ISNULL(r_subgroup_combined_current.sgsg_name,'') AS SubGroupName
             , r_membereligibilityextended_combined_current.grgr_ck AS grgr_ck
             , r_subscriber_combined_current.sbsb_ck AS sbsb_ck
             , r_membereligibilityextended_combined_current.meme_ck AS meme_ck
             , r_membereligibilityextended_combined_current.sgsg_ck AS sgsg_ck
             , r_member_combined_current.meme_last_name AS MemberLastName
             , r_member_combined_current.meme_ssn AS MemberSSN
             , CASE
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
                      AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
                      AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' Then 'No'
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
              	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' Then 'Yes'
                 --WHEN r_membereligibilityextended_combined_current.CSCS_ID like '%X%' Then 'Yes'
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00' Then 'No'
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
                      AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                      AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%' Then 'Yes'  
                 ELSE 'Unk'
              END AS OnExchangeIndicator
             , CASE
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                    THEN 
              	   LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
                 WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
                      AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                    THEN 
              	  TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
                 ELSE
                    'Unknown'
              END COLLATE LATIN1_GENERAL_BIN AS mees_qhp_id_nvl
             , CASE
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
                      AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
                    THEN 
              	  LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
                 WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
                      AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
                    THEN
              	  TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
                 ELSE
                    'Unknown'
              END COLLATE LATIN1_GENERAL_BIN AS cspi_hios_id_nvl
             , CASE
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
              	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' 
                    THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
              	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' 
                    THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
                 WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
                       AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	THEN TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
                 --WHEN r_membereligibilityextended_combined_current.CSCS_ID like '%X%' Then TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00'
                    THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%'
                    THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
                 WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
                       AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                    THEN TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
                 ELSE 'Unknown'
              END COLLATE LATIN1_GENERAL_BIN AS HIOSPlanID
             , r_membereligibilityextended_combined_current.dss_record_source AS dss_record_source
             , @v_current_datetime AS dss_create_time
             , @v_current_datetime AS dss_update_time
             , CASE 
              		WHEN r_membereligibilityextended_combined_current.bkcc_member= 'GEM' THEN
                          CASE
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
              					AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) >= 65
              					 AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) <= 99 
              				THEN 'Retiree Over 65'
              				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
              				THEN 'Retiree Under 65'
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,2) = 'CD' THEN 'COBRA Disability'
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'C' THEN 'COBRA'
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) IN ('A','D','F','T') THEN 'Active'
                                WHEN TRIM(r_membereligibilityextended_combined_current.cscs_id) IN ('X001','X002') THEN 'Active'
                              ELSE 'Unknown'
                          END		
              		WHEN r_membereligibilityextended_combined_current.bkcc_member = 'FCT' THEN				
              			CASE 
              				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) in ('0','1') and SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) in ('0','1','2','3','4','5','6','7','8')
              				THEN
              					CASE 
              						WHEN r_group_combined_current.grgr_id = '10020590'
              						AND r_membereligibilityextended_combined_current.cscs_id = '0199' THEN 'COBRA' -- Micron COBRA exception
              						ELSE 'Active' -- Active - first rule is class ID begins with 00
              					END
              	
              				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = 'FE' 
              					THEN 'Active' 
              				WHEN r_group_combined_current.grgr_id = '10020590' AND r_membereligibilityextended_combined_current.cscs_id = '0299' 
              					THEN 'Active'
              				WHEN r_group_combined_current.grgr_id = '10016384' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '2' 
              					THEN 'Active'
              				WHEN r_group_combined_current.grgr_id = '10019567' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '9' 
              					THEN 'Active' 
              				WHEN LEFT(r_group_combined_current.grgr_id,3) = '011' 
              					THEN 'Active'
              				WHEN PATINDEX('[a-zA-Z]',LEFT(r_membereligibilityextended_combined_current.cscs_id,1)) > 0 
              					AND PATINDEX('[0-8]',SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1)) > 0 THEN 'Active'  -- Active - Second rule is alpha in first position and second position is 0-8
              				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '20' 
              					THEN 'Retiree Under 65' --Retiree under 65 - class ID starts with 20
              				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '30' 
              					THEN 'Retiree Over 65' --Retiree under 65 - class ID starts with 20
              				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) = '9' THEN -- COBRA - The second position of class ID is 9
              					CASE
              						WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = 'D' THEN 'COBRA Disability' -- COBRA disability - class ID starts with D9
              						WHEN RIGHT(r_membereligibilityextended_combined_current.cscs_id,1) = 'S' THEN 'COBRA Subsidized' -- COBRA disability - class ID ends with S
              						ELSE 'COBRA'
              					END
              				ELSE 'Unknown'
              			END 
              		ELSE  'Unknown'
              	END AS Classification
        FROM HDSVault.biz.r_membereligibilityextended_combined_current r_membereligibilityextended_combined_current
        JOIN HDSVault.biz.r_group_combined_current r_group_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_group_combined_current.bkcc_group
         AND r_membereligibilityextended_combined_current.grgr_ck = r_group_combined_current.grgr_ck
         AND r_membereligibilityextended_combined_current.mepe_elig_ind = 'Y'
        JOIN HDSVault.biz.r_member_combined_current r_member_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_member_combined_current.bkcc_member
         AND r_membereligibilityextended_combined_current.meme_ck = r_member_combined_current.meme_ck
        JOIN HDSVault.biz.r_subscriber_combined_current r_subscriber_combined_current
          ON r_member_combined_current.bkcc_member = r_subscriber_combined_current.bkcc_subscriber
         AND r_member_combined_current.sbsb_ck = r_subscriber_combined_current.sbsb_ck
        JOIN HDSVault.biz.r_product_combined_current r_product_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_product_combined_current.bkcc_product
         AND r_membereligibilityextended_combined_current.pdpd_id = r_product_combined_current.pdpd_id
        LEFT JOIN HDSVault.biz.r_subgroup_combined_current r_subgroup_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_subgroup_combined_current.bkcc_subgroup
         AND r_membereligibilityextended_combined_current.sgsg_ck = r_subgroup_combined_current.sgsg_ck
        LEFT JOIN HDSVault.biz.r_groupclassplanextended_combined_current r_groupclassplanextended_combined_current
        ON r_groupclassplanextended_combined_current.grgr_ck = r_membereligibilityextended_combined_current.grgr_ck 
        AND r_groupclassplanextended_combined_current.cscs_id = r_membereligibilityextended_combined_current.cscs_id COLLATE LATIN1_GENERAL_BIN
        AND r_groupclassplanextended_combined_current.cspi_id = r_membereligibilityextended_combined_current.cspi_id COLLATE LATIN1_GENERAL_BIN
        and r_groupclassplanextended_combined_current.cspd_cat = r_membereligibilityextended_combined_current.cspd_cat COLLATE LATIN1_GENERAL_BIN
        AND r_groupclassplanextended_combined_current.bkcc_group = r_membereligibilityextended_combined_current.bkcc_member COLLATE LATIN1_GENERAL_BIN
        AND  r_groupclassplanextended_combined_current.cspi_eff_dt <= r_membereligibilityextended_combined_current.mepe_eff_dt
        AND r_groupclassplanextended_combined_current.cspi_term_dt >= r_membereligibilityextended_combined_current.mepe_eff_dt
         LEFT JOIN (
        			select 
        				row_number() over(partition by e.bkcc_member,e.meme_ck,e.cspd_cat,e.mepe_eff_dt order by m.mees_eff_dt desc) row_num
        				,m.*,e.mepe_eff_dt
        			from HDSVault.biz.r_memberexchangeextended_combined_current m
        				join HDSVault.biz.[r_membereligibilityextended_combined_current] e
        					ON  m.meme_ck = e.meme_ck
        					AND m.cspd_cat = e.cspd_cat COLLATE LATIN1_GENERAL_BIN
        					AND m.bkcc_member = e.bkcc_member COLLATE LATIN1_GENERAL_BIN
        					-- Return overlaps (excluding exact overlaps)
        					AND (m.mees_eff_dt <= e.mepe_term_dt)
        					AND (m.mees_term_dt >= e.mepe_eff_dt)
        			) r_memberexchangeextended_combined_current
        		ON r_memberexchangeextended_combined_current.bkcc_member = r_membereligibilityextended_combined_current.bkcc_member COLLATE LATIN1_GENERAL_BIN
        		AND r_memberexchangeextended_combined_current.meme_ck = r_membereligibilityextended_combined_current.meme_ck
        		AND r_memberexchangeextended_combined_current.cspd_cat = r_membereligibilityextended_combined_current.cspd_cat COLLATE LATIN1_GENERAL_BIN
        		AND r_memberexchangeextended_combined_current.mepe_eff_dt = r_membereligibilityextended_combined_current.mepe_eff_dt
        		AND r_memberexchangeextended_combined_current.row_num = 1
              ) AS src
    ON  r_classplanproductlookup.SourceID = src.SourceID
      AND r_classplanproductlookup.GroupID = src.GroupID
      AND r_classplanproductlookup.EnrolleeID = src.EnrolleeID
      AND r_classplanproductlookup.MemberSuffix = src.MemberSuffix
      AND r_classplanproductlookup.ClassProductCategory = src.ClassProductCategory
      AND r_classplanproductlookup.MemberEligibilityEffectiveDate = src.MemberEligibilityEffectiveDate
    WHEN NOT MATCHED BY SOURCE THEN DELETE;

  SELECT @v_delete_count = @@ROWCOUNT

    --=====================================================
    -- Insert new records
    --=====================================================
  SET @v_step = 200



    MERGE INTO HDSVault.biz.r_classplanproductlookup 
    USING (
      SELECT DISTINCT r_membereligibilityextended_combined_current.bkcc_member AS SourceID
             , r_group_combined_current.grgr_id AS GroupID
             , r_subscriber_combined_current.sbsb_id AS EnrolleeID
             , r_member_combined_current.meme_sfx AS MemberSuffix
             , r_membereligibilityextended_combined_current.cspd_cat AS ClassProductCategory
             , r_membereligibilityextended_combined_current.mepe_eff_dt AS MemberEligibilityEffectiveDate
             , r_membereligibilityextended_combined_current.mepe_term_dt AS MemberEligibilityTermDate
             , r_membereligibilityextended_combined_current.cscs_id AS ClassID
             , r_membereligibilityextended_combined_current.cspi_id AS PlanID
             , r_membereligibilityextended_combined_current.pdpd_id AS ProductID
             , r_membereligibilityextended_combined_current.mepe_mctr_rsn AS MemberEligibilityReason
             , r_membereligibilityextended_combined_current.mepe_elig_ind AS EligibilityIndicator
             , r_membereligibilityextended_combined_current.mepe_fi AS FamilyIndicator
             , r_member_combined_current.meme_sex AS MemberSex
             , r_member_combined_current.meme_birth_dt AS MemberBirthDate
             , r_member_combined_current.meme_rel AS MemberRelationship
             , r_member_combined_current.meme_first_name AS MemberFirstName
             , r_product_combined_current.pdds_mctr_val1 AS FundingType
             , ISNULL(r_subgroup_combined_current.sgsg_id,'') AS SubGroupID
             , ISNULL(r_subgroup_combined_current.sgsg_name,'') AS SubGroupName
             , r_membereligibilityextended_combined_current.grgr_ck AS grgr_ck
             , r_subscriber_combined_current.sbsb_ck AS sbsb_ck
             , r_membereligibilityextended_combined_current.meme_ck AS meme_ck
             , r_membereligibilityextended_combined_current.sgsg_ck AS sgsg_ck
             , r_member_combined_current.meme_last_name AS MemberLastName
             , r_member_combined_current.meme_ssn AS MemberSSN
             , CASE
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
                      AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
                      AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' Then 'No'
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
              	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' Then 'Yes'
                 --WHEN r_membereligibilityextended_combined_current.CSCS_ID like '%X%' Then 'Yes'
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00' Then 'No'
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
                      AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                      AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%' Then 'Yes'  
                 ELSE 'Unk'
              END AS OnExchangeIndicator
             , CASE
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                    THEN 
              	   LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
                 WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
                      AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                    THEN 
              	  TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
                 ELSE
                    'Unknown'
              END COLLATE LATIN1_GENERAL_BIN AS mees_qhp_id_nvl
             , CASE
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
                      AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
                    THEN 
              	  LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
                 WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
                      AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
                    THEN
              	  TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
                 ELSE
                    'Unknown'
              END COLLATE LATIN1_GENERAL_BIN AS cspi_hios_id_nvl
             , CASE
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
              	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' 
                    THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
                 WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
              	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' 
                    THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
                 WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
                       AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
              	THEN TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
                 --WHEN r_membereligibilityextended_combined_current.CSCS_ID like '%X%' Then TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00'
                    THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
                 WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
              	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
              	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%'
                    THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
                 WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
                       AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
                    THEN TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
                 ELSE 'Unknown'
              END COLLATE LATIN1_GENERAL_BIN AS HIOSPlanID
             , r_membereligibilityextended_combined_current.dss_record_source AS dss_record_source
             , @v_current_datetime AS dss_create_time
             , @v_current_datetime AS dss_update_time
             , CASE 
              		WHEN r_membereligibilityextended_combined_current.bkcc_member= 'GEM' THEN
                          CASE
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
              					AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) >= 65
              					 AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) <= 99 
              				THEN 'Retiree Over 65'
              				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
              				THEN 'Retiree Under 65'
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,2) = 'CD' THEN 'COBRA Disability'
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'C' THEN 'COBRA'
                              WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) IN ('A','D','F','T') THEN 'Active'
                                WHEN TRIM(r_membereligibilityextended_combined_current.cscs_id) IN ('X001','X002') THEN 'Active'
                              ELSE 'Unknown'
                          END		
              		WHEN r_membereligibilityextended_combined_current.bkcc_member = 'FCT' THEN				
              			CASE 
              				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) in ('0','1') and SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) in ('0','1','2','3','4','5','6','7','8')
              				THEN
              					CASE 
              						WHEN r_group_combined_current.grgr_id = '10020590'
              						AND r_membereligibilityextended_combined_current.cscs_id = '0199' THEN 'COBRA' -- Micron COBRA exception
              						ELSE 'Active' -- Active - first rule is class ID begins with 00
              					END
              	
              				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = 'FE' 
              					THEN 'Active' 
              				WHEN r_group_combined_current.grgr_id = '10020590' AND r_membereligibilityextended_combined_current.cscs_id = '0299' 
              					THEN 'Active'
              				WHEN r_group_combined_current.grgr_id = '10016384' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '2' 
              					THEN 'Active'
              				WHEN r_group_combined_current.grgr_id = '10019567' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '9' 
              					THEN 'Active' 
              				WHEN LEFT(r_group_combined_current.grgr_id,3) = '011' 
              					THEN 'Active'
              				WHEN PATINDEX('[a-zA-Z]',LEFT(r_membereligibilityextended_combined_current.cscs_id,1)) > 0 
              					AND PATINDEX('[0-8]',SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1)) > 0 THEN 'Active'  -- Active - Second rule is alpha in first position and second position is 0-8
              				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '20' 
              					THEN 'Retiree Under 65' --Retiree under 65 - class ID starts with 20
              				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '30' 
              					THEN 'Retiree Over 65' --Retiree under 65 - class ID starts with 20
              				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) = '9' THEN -- COBRA - The second position of class ID is 9
              					CASE
              						WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = 'D' THEN 'COBRA Disability' -- COBRA disability - class ID starts with D9
              						WHEN RIGHT(r_membereligibilityextended_combined_current.cscs_id,1) = 'S' THEN 'COBRA Subsidized' -- COBRA disability - class ID ends with S
              						ELSE 'COBRA'
              					END
              				ELSE 'Unknown'
              			END 
              		ELSE  'Unknown'
              	END AS Classification
        FROM HDSVault.biz.r_membereligibilityextended_combined_current r_membereligibilityextended_combined_current
        JOIN HDSVault.biz.r_group_combined_current r_group_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_group_combined_current.bkcc_group
         AND r_membereligibilityextended_combined_current.grgr_ck = r_group_combined_current.grgr_ck
         AND r_membereligibilityextended_combined_current.mepe_elig_ind = 'Y'
        JOIN HDSVault.biz.r_member_combined_current r_member_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_member_combined_current.bkcc_member
         AND r_membereligibilityextended_combined_current.meme_ck = r_member_combined_current.meme_ck
        JOIN HDSVault.biz.r_subscriber_combined_current r_subscriber_combined_current
          ON r_member_combined_current.bkcc_member = r_subscriber_combined_current.bkcc_subscriber
         AND r_member_combined_current.sbsb_ck = r_subscriber_combined_current.sbsb_ck
        JOIN HDSVault.biz.r_product_combined_current r_product_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_product_combined_current.bkcc_product
         AND r_membereligibilityextended_combined_current.pdpd_id = r_product_combined_current.pdpd_id
        LEFT JOIN HDSVault.biz.r_subgroup_combined_current r_subgroup_combined_current
          ON r_membereligibilityextended_combined_current.bkcc_member = r_subgroup_combined_current.bkcc_subgroup
         AND r_membereligibilityextended_combined_current.sgsg_ck = r_subgroup_combined_current.sgsg_ck
        LEFT JOIN HDSVault.biz.r_groupclassplanextended_combined_current r_groupclassplanextended_combined_current
        ON r_groupclassplanextended_combined_current.grgr_ck = r_membereligibilityextended_combined_current.grgr_ck 
        AND r_groupclassplanextended_combined_current.cscs_id = r_membereligibilityextended_combined_current.cscs_id COLLATE LATIN1_GENERAL_BIN
        AND r_groupclassplanextended_combined_current.cspi_id = r_membereligibilityextended_combined_current.cspi_id COLLATE LATIN1_GENERAL_BIN
        and r_groupclassplanextended_combined_current.cspd_cat = r_membereligibilityextended_combined_current.cspd_cat COLLATE LATIN1_GENERAL_BIN
        AND r_groupclassplanextended_combined_current.bkcc_group = r_membereligibilityextended_combined_current.bkcc_member COLLATE LATIN1_GENERAL_BIN
        AND  r_groupclassplanextended_combined_current.cspi_eff_dt <= r_membereligibilityextended_combined_current.mepe_eff_dt
        AND r_groupclassplanextended_combined_current.cspi_term_dt >= r_membereligibilityextended_combined_current.mepe_eff_dt
         LEFT JOIN (
        			select 
        				row_number() over(partition by e.bkcc_member,e.meme_ck,e.cspd_cat,e.mepe_eff_dt order by m.mees_eff_dt desc) row_num
        				,m.*,e.mepe_eff_dt
        			from HDSVault.biz.r_memberexchangeextended_combined_current m
        				join HDSVault.biz.[r_membereligibilityextended_combined_current] e
        					ON  m.meme_ck = e.meme_ck
        					AND m.cspd_cat = e.cspd_cat COLLATE LATIN1_GENERAL_BIN
        					AND m.bkcc_member = e.bkcc_member COLLATE LATIN1_GENERAL_BIN
        					-- Return overlaps (excluding exact overlaps)
        					AND (m.mees_eff_dt <= e.mepe_term_dt)
        					AND (m.mees_term_dt >= e.mepe_eff_dt)
        			) r_memberexchangeextended_combined_current
        		ON r_memberexchangeextended_combined_current.bkcc_member = r_membereligibilityextended_combined_current.bkcc_member COLLATE LATIN1_GENERAL_BIN
        		AND r_memberexchangeextended_combined_current.meme_ck = r_membereligibilityextended_combined_current.meme_ck
        		AND r_memberexchangeextended_combined_current.cspd_cat = r_membereligibilityextended_combined_current.cspd_cat COLLATE LATIN1_GENERAL_BIN
        		AND r_memberexchangeextended_combined_current.mepe_eff_dt = r_membereligibilityextended_combined_current.mepe_eff_dt
        		AND r_memberexchangeextended_combined_current.row_num = 1
              
			WHERE NOT EXISTS ( 
      SELECT 1
      FROM HDSVault.biz.r_classplanproductlookup r_classplanproductlookup 
			WHERE r_membereligibilityextended_combined_current.bkcc_member = r_classplanproductlookup.SourceID
         AND   (r_group_combined_current.grgr_id = r_classplanproductlookup.GroupID
     OR ( r_group_combined_current.grgr_id IS NULL AND r_classplanproductlookup.GroupID IS NULL))
         AND   (r_subscriber_combined_current.sbsb_id = r_classplanproductlookup.EnrolleeID
     OR ( r_subscriber_combined_current.sbsb_id IS NULL AND r_classplanproductlookup.EnrolleeID IS NULL))
         AND   (r_member_combined_current.meme_sfx = r_classplanproductlookup.MemberSuffix
     OR ( r_member_combined_current.meme_sfx IS NULL AND r_classplanproductlookup.MemberSuffix IS NULL))
         AND   (r_membereligibilityextended_combined_current.cspd_cat = r_classplanproductlookup.ClassProductCategory
     OR ( r_membereligibilityextended_combined_current.cspd_cat IS NULL AND r_classplanproductlookup.ClassProductCategory IS NULL))
         AND   (r_membereligibilityextended_combined_current.mepe_eff_dt = r_classplanproductlookup.MemberEligibilityEffectiveDate
     OR ( r_membereligibilityextended_combined_current.mepe_eff_dt IS NULL AND r_classplanproductlookup.MemberEligibilityEffectiveDate IS NULL))
         AND   (r_membereligibilityextended_combined_current.mepe_term_dt = r_classplanproductlookup.MemberEligibilityTermDate
     OR ( r_membereligibilityextended_combined_current.mepe_term_dt IS NULL AND r_classplanproductlookup.MemberEligibilityTermDate IS NULL))
         AND   (r_membereligibilityextended_combined_current.cscs_id = r_classplanproductlookup.ClassID
     OR ( r_membereligibilityextended_combined_current.cscs_id IS NULL AND r_classplanproductlookup.ClassID IS NULL))
         AND   (r_membereligibilityextended_combined_current.cspi_id = r_classplanproductlookup.PlanID
     OR ( r_membereligibilityextended_combined_current.cspi_id IS NULL AND r_classplanproductlookup.PlanID IS NULL))
         AND   (r_membereligibilityextended_combined_current.pdpd_id = r_classplanproductlookup.ProductID
     OR ( r_membereligibilityextended_combined_current.pdpd_id IS NULL AND r_classplanproductlookup.ProductID IS NULL))
         AND   (r_membereligibilityextended_combined_current.mepe_mctr_rsn = r_classplanproductlookup.MemberEligibilityReason
     OR ( r_membereligibilityextended_combined_current.mepe_mctr_rsn IS NULL AND r_classplanproductlookup.MemberEligibilityReason IS NULL))
         AND   (r_membereligibilityextended_combined_current.mepe_elig_ind = r_classplanproductlookup.EligibilityIndicator
     OR ( r_membereligibilityextended_combined_current.mepe_elig_ind IS NULL AND r_classplanproductlookup.EligibilityIndicator IS NULL))
         AND   (r_membereligibilityextended_combined_current.mepe_fi = r_classplanproductlookup.FamilyIndicator
     OR ( r_membereligibilityextended_combined_current.mepe_fi IS NULL AND r_classplanproductlookup.FamilyIndicator IS NULL))
         AND   (r_member_combined_current.meme_sex = r_classplanproductlookup.MemberSex
     OR ( r_member_combined_current.meme_sex IS NULL AND r_classplanproductlookup.MemberSex IS NULL))
         AND   (r_member_combined_current.meme_birth_dt = r_classplanproductlookup.MemberBirthDate
     OR ( r_member_combined_current.meme_birth_dt IS NULL AND r_classplanproductlookup.MemberBirthDate IS NULL))
         AND   (r_member_combined_current.meme_rel = r_classplanproductlookup.MemberRelationship
     OR ( r_member_combined_current.meme_rel IS NULL AND r_classplanproductlookup.MemberRelationship IS NULL))
         AND   (r_member_combined_current.meme_first_name = r_classplanproductlookup.MemberFirstName
     OR ( r_member_combined_current.meme_first_name IS NULL AND r_classplanproductlookup.MemberFirstName IS NULL))
         AND   (r_product_combined_current.pdds_mctr_val1 = r_classplanproductlookup.FundingType
     OR ( r_product_combined_current.pdds_mctr_val1 IS NULL AND r_classplanproductlookup.FundingType IS NULL))
         AND   (ISNULL(r_subgroup_combined_current.sgsg_id,'') = r_classplanproductlookup.SubGroupID
     OR ( ISNULL(r_subgroup_combined_current.sgsg_id,'') IS NULL AND r_classplanproductlookup.SubGroupID IS NULL))
         AND   (ISNULL(r_subgroup_combined_current.sgsg_name,'') = r_classplanproductlookup.SubGroupName
     OR ( ISNULL(r_subgroup_combined_current.sgsg_name,'') IS NULL AND r_classplanproductlookup.SubGroupName IS NULL))
         AND   (r_membereligibilityextended_combined_current.grgr_ck = r_classplanproductlookup.grgr_ck
     OR ( r_membereligibilityextended_combined_current.grgr_ck IS NULL AND r_classplanproductlookup.grgr_ck IS NULL))
         AND   (r_subscriber_combined_current.sbsb_ck = r_classplanproductlookup.sbsb_ck
     OR ( r_subscriber_combined_current.sbsb_ck IS NULL AND r_classplanproductlookup.sbsb_ck IS NULL))
         AND   (r_membereligibilityextended_combined_current.meme_ck = r_classplanproductlookup.meme_ck
     OR ( r_membereligibilityextended_combined_current.meme_ck IS NULL AND r_classplanproductlookup.meme_ck IS NULL))
         AND   (r_membereligibilityextended_combined_current.sgsg_ck = r_classplanproductlookup.sgsg_ck
     OR ( r_membereligibilityextended_combined_current.sgsg_ck IS NULL AND r_classplanproductlookup.sgsg_ck IS NULL))
         AND   (r_member_combined_current.meme_last_name = r_classplanproductlookup.MemberLastName
     OR ( r_member_combined_current.meme_last_name IS NULL AND r_classplanproductlookup.MemberLastName IS NULL))
         AND   (r_member_combined_current.meme_ssn = r_classplanproductlookup.MemberSSN
     OR ( r_member_combined_current.meme_ssn IS NULL AND r_classplanproductlookup.MemberSSN IS NULL))
         AND  CASE
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
        AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
        AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' Then 'No'
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' Then 'Yes'
   
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00' Then 'No'
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
        AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
        AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%' Then 'Yes'  
   ELSE 'Unk'
END = r_classplanproductlookup.OnExchangeIndicator
         AND   (CASE
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
      THEN 
	   LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
   WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
        AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
      THEN 
	  TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
   ELSE
      'Unknown'
END COLLATE LATIN1_GENERAL_BIN = r_classplanproductlookup.mees_qhp_id_nvl
     OR ( CASE
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
      THEN 
	   LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
   WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
        AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
      THEN 
	  TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
   ELSE
      'Unknown'
END COLLATE LATIN1_GENERAL_BIN IS NULL AND r_classplanproductlookup.mees_qhp_id_nvl IS NULL))
         AND   (CASE
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
        AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
      THEN 
	  LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
   WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
        AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
      THEN
	  TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
   ELSE
      'Unknown'
END COLLATE LATIN1_GENERAL_BIN = r_classplanproductlookup.cspi_hios_id_nvl
     OR ( CASE
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
        AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
      THEN 
	  LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
   WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
        AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
      THEN
	  TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
   ELSE
      'Unknown'
END COLLATE LATIN1_GENERAL_BIN IS NULL AND r_classplanproductlookup.cspi_hios_id_nvl IS NULL))
         AND   (CASE
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' 
      THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' 
      THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
   WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
         AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	THEN TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
   
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00'
      THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%'
      THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
   WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
         AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
      THEN TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
   ELSE 'Unknown'
END COLLATE LATIN1_GENERAL_BIN = r_classplanproductlookup.HIOSPlanID
     OR ( CASE
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) = '00' 
      THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
   WHEN LEN(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)) = 16
	  AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16),2) Like '0[^0]%' 
      THEN LEFT(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL),16)
   WHEN LEN(TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)) = 10
         AND r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL LIKE '%ID%'
	THEN TRIM(r_groupclassplanextended_combined_current.CSPI_HIOS_ID_NVL)
   
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) = '00'
      THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
   WHEN LEN(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)) = 16
	  AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
	  AND RIGHT(LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16),2) Like '0[^0]%'
      THEN LEFT(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL),16)
   WHEN LEN(TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)) = 10
         AND r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL LIKE '%ID%'
      THEN TRIM(r_memberexchangeextended_combined_current.MEES_QHP_ID_NVL)
   ELSE 'Unknown'
END COLLATE LATIN1_GENERAL_BIN IS NULL AND r_classplanproductlookup.HIOSPlanID IS NULL))
         AND   (r_membereligibilityextended_combined_current.dss_record_source = r_classplanproductlookup.dss_record_source
     OR ( r_membereligibilityextended_combined_current.dss_record_source IS NULL AND r_classplanproductlookup.dss_record_source IS NULL))
         AND   (CASE 
		WHEN r_membereligibilityextended_combined_current.bkcc_member= 'GEM' THEN
            CASE
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
					AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) >= 65
					 AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) <= 99 
				THEN 'Retiree Over 65'
				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
				THEN 'Retiree Under 65'
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,2) = 'CD' THEN 'COBRA Disability'
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'C' THEN 'COBRA'
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) IN ('A','D','F','T') THEN 'Active'
                  WHEN TRIM(r_membereligibilityextended_combined_current.cscs_id) IN ('X001','X002') THEN 'Active'
                ELSE 'Unknown'
            END		
		WHEN r_membereligibilityextended_combined_current.bkcc_member = 'FCT' THEN				
			CASE 
				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) in ('0','1') and SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) in ('0','1','2','3','4','5','6','7','8')
				THEN
					CASE 
						WHEN r_group_combined_current.grgr_id = '10020590'
						AND r_membereligibilityextended_combined_current.cscs_id = '0199' THEN 'COBRA' 
						ELSE 'Active' 
					END
	
				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = 'FE' 
					THEN 'Active' 
				WHEN r_group_combined_current.grgr_id = '10020590' AND r_membereligibilityextended_combined_current.cscs_id = '0299' 
					THEN 'Active'
				WHEN r_group_combined_current.grgr_id = '10016384' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '2' 
					THEN 'Active'
				WHEN r_group_combined_current.grgr_id = '10019567' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '9' 
					THEN 'Active' 
				WHEN LEFT(r_group_combined_current.grgr_id,3) = '011' 
					THEN 'Active'
				WHEN PATINDEX('[a-zA-Z]',LEFT(r_membereligibilityextended_combined_current.cscs_id,1)) > 0 
					AND PATINDEX('[0-8]',SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1)) > 0 THEN 'Active'  
				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '20' 
					THEN 'Retiree Under 65' 
				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '30' 
					THEN 'Retiree Over 65' 
				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) = '9' THEN 
					CASE
						WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = 'D' THEN 'COBRA Disability' 
						WHEN RIGHT(r_membereligibilityextended_combined_current.cscs_id,1) = 'S' THEN 'COBRA Subsidized' 
						ELSE 'COBRA'
					END
				ELSE 'Unknown'
			END 
		ELSE  'Unknown'
	END = r_classplanproductlookup.Classification
     OR ( CASE 
		WHEN r_membereligibilityextended_combined_current.bkcc_member= 'GEM' THEN
            CASE
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
					AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) >= 65
					 AND TRY_CONVERT(Int,RIGHT(r_membereligibilityextended_combined_current.cspi_id,2)) <= 99 
				THEN 'Retiree Over 65'
				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'R' 
				THEN 'Retiree Under 65'
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,2) = 'CD' THEN 'COBRA Disability'
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) = 'C' THEN 'COBRA'
                WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) IN ('A','D','F','T') THEN 'Active'
                  WHEN TRIM(r_membereligibilityextended_combined_current.cscs_id) IN ('X001','X002') THEN 'Active'
                ELSE 'Unknown'
            END		
		WHEN r_membereligibilityextended_combined_current.bkcc_member = 'FCT' THEN				
			CASE 
				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,1,1) in ('0','1') and SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) in ('0','1','2','3','4','5','6','7','8')
				THEN
					CASE 
						WHEN r_group_combined_current.grgr_id = '10020590'
						AND r_membereligibilityextended_combined_current.cscs_id = '0199' THEN 'COBRA' 
						ELSE 'Active' 
					END
	
				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = 'FE' 
					THEN 'Active' 
				WHEN r_group_combined_current.grgr_id = '10020590' AND r_membereligibilityextended_combined_current.cscs_id = '0299' 
					THEN 'Active'
				WHEN r_group_combined_current.grgr_id = '10016384' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '2' 
					THEN 'Active'
				WHEN r_group_combined_current.grgr_id = '10019567' AND LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = '9' 
					THEN 'Active' 
				WHEN LEFT(r_group_combined_current.grgr_id,3) = '011' 
					THEN 'Active'
				WHEN PATINDEX('[a-zA-Z]',LEFT(r_membereligibilityextended_combined_current.cscs_id,1)) > 0 
					AND PATINDEX('[0-8]',SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1)) > 0 THEN 'Active'  
				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '20' 
					THEN 'Retiree Under 65' 
				WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,2) = '30' 
					THEN 'Retiree Over 65' 
				WHEN SUBSTRING(r_membereligibilityextended_combined_current.cscs_id,2,1) = '9' THEN 
					CASE
						WHEN LEFT(r_membereligibilityextended_combined_current.cscs_id,1) = 'D' THEN 'COBRA Disability' 
						WHEN RIGHT(r_membereligibilityextended_combined_current.cscs_id,1) = 'S' THEN 'COBRA Subsidized' 
						ELSE 'COBRA'
					END
				ELSE 'Unknown'
			END 
		ELSE  'Unknown'
	END IS NULL AND r_classplanproductlookup.Classification IS NULL))
         )
      ) AS src
    ON  r_classplanproductlookup.SourceID = src.SourceID
      AND r_classplanproductlookup.GroupID = src.GroupID
      AND r_classplanproductlookup.EnrolleeID = src.EnrolleeID
      AND r_classplanproductlookup.MemberSuffix = src.MemberSuffix
      AND r_classplanproductlookup.ClassProductCategory = src.ClassProductCategory
      AND r_classplanproductlookup.MemberEligibilityEffectiveDate = src.MemberEligibilityEffectiveDate
    WHEN MATCHED THEN UPDATE
    SET MemberEligibilityTermDate = src.MemberEligibilityTermDate 
        , ClassID = src.ClassID 
        , PlanID = src.PlanID 
        , ProductID = src.ProductID 
        , MemberEligibilityReason = src.MemberEligibilityReason 
        , EligibilityIndicator = src.EligibilityIndicator 
        , FamilyIndicator = src.FamilyIndicator 
        , MemberSex = src.MemberSex 
        , MemberBirthDate = src.MemberBirthDate 
        , MemberRelationship = src.MemberRelationship 
        , MemberFirstName = src.MemberFirstName 
        , FundingType = src.FundingType 
        , SubGroupID = src.SubGroupID 
        , SubGroupName = src.SubGroupName 
        , grgr_ck = src.grgr_ck 
        , sbsb_ck = src.sbsb_ck 
        , meme_ck = src.meme_ck 
        , sgsg_ck = src.sgsg_ck 
        , MemberLastName = src.MemberLastName 
        , MemberSSN = src.MemberSSN 
        , OnExchangeIndicator = src.OnExchangeIndicator 
        , mees_qhp_id_nvl = src.mees_qhp_id_nvl 
        , cspi_hios_id_nvl = src.cspi_hios_id_nvl 
        , HIOSPlanID = src.HIOSPlanID 
        , dss_record_source = src.dss_record_source 
        , dss_update_time = src.dss_update_time 
        , Classification = src.Classification 
    WHEN NOT MATCHED THEN INSERT
      ( SourceID
      , GroupID
      , EnrolleeID
      , MemberSuffix
      , ClassProductCategory
      , MemberEligibilityEffectiveDate
      , MemberEligibilityTermDate
      , ClassID
      , PlanID
      , ProductID
      , MemberEligibilityReason
      , EligibilityIndicator
      , FamilyIndicator
      , MemberSex
      , MemberBirthDate
      , MemberRelationship
      , MemberFirstName
      , FundingType
      , SubGroupID
      , SubGroupName
      , grgr_ck
      , sbsb_ck
      , meme_ck
      , sgsg_ck
      , MemberLastName
      , MemberSSN
      , OnExchangeIndicator
      , mees_qhp_id_nvl
      , cspi_hios_id_nvl
      , HIOSPlanID
      , dss_record_source
      , dss_create_time
      , dss_update_time
      , Classification
    )
    VALUES
    ( src.SourceID
      , src.GroupID
      , src.EnrolleeID
      , src.MemberSuffix
      , src.ClassProductCategory
      , src.MemberEligibilityEffectiveDate
      , src.MemberEligibilityTermDate
      , src.ClassID
      , src.PlanID
      , src.ProductID
      , src.MemberEligibilityReason
      , src.EligibilityIndicator
      , src.FamilyIndicator
      , src.MemberSex
      , src.MemberBirthDate
      , src.MemberRelationship
      , src.MemberFirstName
      , src.FundingType
      , src.SubGroupID
      , src.SubGroupName
      , src.grgr_ck
      , src.sbsb_ck
      , src.meme_ck
      , src.sgsg_ck
      , src.MemberLastName
      , src.MemberSSN
      , src.OnExchangeIndicator
      , src.mees_qhp_id_nvl
      , src.cspi_hios_id_nvl
      , src.HIOSPlanID
      , src.dss_record_source
      , src.dss_create_time
      , src.dss_update_time
      , src.Classification
    )
    ;

    SELECT @v_merged_count = @@ROWCOUNT

    --=====================================================
    -- All Done report the results
    --=====================================================
    SET @v_step = 300

    SET @p_status = 1
    SET @p_return_msg = 'r_classplanproductlookup updated. '
      + CONVERT(VARCHAR,@v_delete_count) + ' records deleted. '
      + CONVERT(VARCHAR,@v_merged_count) + ' records merged.'

    RETURN 0

  END TRY
  BEGIN CATCH

    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('update_r_classplanproductlookup FAILED with error '
      + CONVERT(VARCHAR,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(VARCHAR,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)

  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END

  RETURN 0

GO
