USE [HDSVault]
GO
/****** Object:  View [biz].[v_NetworkSet_Union]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [biz].[v_NetworkSet_Union]
AS
SELECT
	nwst.bkcc_providernetworksetprefix AS SourceCode,
	nwst.nwst_pfx NetworkSet,
	nwst.nwst_pfx NetworkCode,
    CASE 
	   WHEN nwst.bkcc_providernetworksetprefix = 'FCT'
		  THEN
	         nwnw.nwnw_name 
	      ELSE
			 pdpx.pdpx_desc
	END NetworkName,
	nwst.nwnw_id NetworkID,
	'N' MDMCaptured,
	nwst.dss_record_source
FROM HDSVault.biz.v_providernetworksetextended_combined_current nwst
	JOIN HDSVault.biz.v_providernetwork_combined_current nwnw
		ON nwnw.nwnw_id = nwst.nwnw_id
			AND nwnw.bkcc_providernetwork = nwst.bkcc_providernetworksetprefix
    LEFT JOIN HDSVault.biz.v_productcomponent_combined_current pdpx WITH (READUNCOMMITTED)
        ON nwst.NWST_PFX = pdpx.PDBC_PFX
            AND pdpx.PDBC_TYPE = 'NWST'
            AND nwst.bkcc_providernetworksetprefix = pdpx.bkcc_productcomponentprefix
WHERE nwst.nwst_term_dt >= '01/01/2016'
--jhicks 04/09/2024 removed filter by nwpr_pfx
/*
	AND (
		(nwst.bkcc_providernetworksetprefix = 'FCT' AND nwst.nwpr_pfx IN ('HOSP','PHYS','PHY2'))
		OR 
		(nwst.bkcc_providernetworksetprefix = 'GEM' AND NWST.nwpr_pfx IN ('CC01','CC02','CC03','CC04','CC05','CC06'))
		)
*/
	AND nwst.nwst_pfx IS NOT NULL
GROUP BY nwst.bkcc_providernetworksetprefix,nwst.nwst_pfx,    
         CASE 
	        WHEN nwst.bkcc_providernetworksetprefix = 'FCT'
		       THEN
	              nwnw.nwnw_name 
	         ELSE
			      pdpx.pdpx_desc
	     END,nwst.nwnw_id,nwst.dss_record_source
UNION
SELECT  
	'MDM' SourceCode,
	ProviderNetwork_MDM.FacetsNetworkSet COLLATE Latin1_General_BIN AS NetworkSet ,
	ProviderNetwork_MDM.NetworkCode COLLATE Latin1_General_BIN AS NetworkCode, 
	ProviderNetwork_MDM.NetworkName COLLATE Latin1_General_BIN AS NetworkName ,
	ProviderNetwork_MDM.Facets_NWNW_ID COLLATE Latin1_General_BIN AS NetworkID ,
	'Y' COLLATE Latin1_General_BIN AS MDMCaptured,
	ProviderNetwork_MDM.dss_record_source 
FROM HDSVault.ref.[ProviderNetwork_MDM] ProviderNetwork_MDM
GO
/****** Object:  Table [biz].[dimNetworkSet_Base]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [biz].[dimNetworkSet_Base](
	[NetworkSetPK] [int] IDENTITY(1,1) NOT NULL,
	[NetworkSet] [varchar](25) NULL,
	[NetworkCode] [varchar](25) NULL,
	[NetworkName] [varchar](100) NULL,
	[NetworkID] [varchar](25) NULL,
	[MDMCaptured] [varchar](1) NULL,
	[SourceCode] [varchar](25) NULL,
	[dss_record_source] [varchar](255) NULL,
	[NKHash] [binary](20) NULL,
	[Type1Hash] [binary](20) NULL,
	[dss_start_date] [datetime] NULL,
	[dss_end_date] [datetime] NULL,
	[dss_current_flag] [char](1) NULL,
	[dss_version] [int] NULL,
	[dss_create_time] [datetime] NULL,
	[dss_update_time] [datetime] NULL,
 CONSTRAINT [dimNetworkSet_Base_idx_0] PRIMARY KEY CLUSTERED 
(
	[NetworkSetPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [biz].[dimNetworkSet_NonDV]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [biz].[dimNetworkSet_NonDV](
	[SourceCode] [varchar](25) NULL,
	[NetworkCode] [varchar](25) NULL,
	[NetworkName] [varchar](100) NULL,
	[NetworkID] [varchar](25) NULL,
	[NetworkSet] [varchar](25) NULL,
	[MDMCaptured] [varchar](1) NULL,
	[dss_record_source] [varchar](255) NULL,
	[NKHash] [binary](20) NOT NULL,
	[Type1Hash] [binary](20) NOT NULL,
	[dss_create_time] [datetime] NULL,
	[dss_update_time] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [biz].[dimNetworkSet_Base] ADD  DEFAULT ('1900-01-01') FOR [dss_start_date]
GO
ALTER TABLE [biz].[dimNetworkSet_Base] ADD  DEFAULT ('2999-12-31') FOR [dss_end_date]
GO
ALTER TABLE [biz].[dimNetworkSet_Base] ADD  DEFAULT ('Y') FOR [dss_current_flag]
GO
ALTER TABLE [biz].[dimNetworkSet_Base] ADD  DEFAULT ((1)) FOR [dss_version]
GO
/****** Object:  StoredProcedure [biz].[update_dimNetworkSet_Base]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================================================================
-- DBMS Name      :    SQL Server 2012
-- Script Name    :    update_dimNetworkSet_Base
-- Description    :    Update the Dimension table dimNetworkSet_Base
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Thursday, July 06, 2023 at 15:48:18
-- Author         :    Dan Brickey
--==============================================================================
-- Notes / History
--

CREATE PROCEDURE [biz].[update_dimNetworkSet_Base]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --============================================================================
  -- Control variables used in most programs
  --============================================================================
  DECLARE
    @v_msgtext            varchar(1024) -- Text for audit_trail
  , @v_sql                nvarchar(255) -- Text for SQL statements
  , @v_set                integer       -- commit set
  , @v_analyze_flag       integer       -- analyze flag
  , @v_step               integer       -- step number
  , @v_insert_count       integer       -- no of records inserted
  , @v_update_count       integer       -- no of records updated
  , @v_change_count       integer       -- Used for history start/end dates
  , @v_count              integer       -- General counter
  , @v_db_code            varchar(10)   -- Database error code
  , @v_db_msg             varchar(1024) -- Database error message

  --============================================================================
  -- General Variables
  --============================================================================
  DECLARE
    @v_return_status      integer       -- Update result status
  , @v_row_count          integer       -- General row count
  , @v_status             integer       -- General status field
  , @v_getkey_status      integer       -- GetKey procedure status
  , @v_current_datetime   datetime      -- Used for create/update dates
  , @v_current_date       datetime      -- Used to set date to midnight
  --============================================================================
  -- Main
  --============================================================================
  BEGIN TRY

  SET @v_step             = 100
  SET @v_insert_count     = 0
  SET @v_update_count     = 0
  SET @v_change_count     = 0
  SET @v_current_datetime = GETDATE()
  SET @v_current_date     = CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),112),112)
  

  --============================================================================
  -- Include 0 key row for when lookup to this table is null
  --============================================================================
  SET @v_step = 200
  SET @v_count = 0

  SELECT @v_count = 1
  FROM  HDSVault.biz.dimNetworkSet_Base
  WHERE NetworkSetPK = 0

  IF @v_count = 0
  BEGIN
    SET @v_step = 300
    BEGIN TRANSACTION

    -- Allow explicit value to be inserted into IDENTITY field
    SET IDENTITY_INSERT HDSVault.biz.dimNetworkSet_Base ON

    INSERT INTO HDSVault.biz.dimNetworkSet_Base
    ( NetworkSetPK
    , NetworkSet
    , NetworkCode
    , NetworkName
    , NetworkID
    , MDMCaptured
    , SourceCode
    , dss_record_source
    , NKHash
    , Type1Hash
    , dss_current_flag
    , dss_version
    , dss_start_date
    , dss_end_date
    , dss_update_time
    , dss_create_time
    )
    VALUES
    ( 0
    , SUBSTRING('Unknown',1,25)
    , SUBSTRING('Unknown',1,25)
    , SUBSTRING('Unknown',1,100)
    , SUBSTRING('Unknown',1,25)
    , SUBSTRING('Unknown',1,1)
    , SUBSTRING('Unknown',1,25)
    , SUBSTRING('Unknown',1,255)
    , NULL
    , NULL
    , 'Y'
    , 1
    , CAST('01-JAN-1900' AS datetime)
    , CAST('31-DEC-2999' AS datetime)
    , GETDATE()
    , GETDATE()
    )

    SELECT @v_row_count = @@ROWCOUNT
    
    -- Restore default handling of IDENTITY field
    SET IDENTITY_INSERT HDSVault.biz.dimNetworkSet_Base OFF
    COMMIT
  END

  --============================================================================
  -- Update expiring rows
  --============================================================================
  UPDATE HDSVault.biz.dimNetworkSet_Base WITH ( TABLOCK )
  SET     dss_end_date = @v_current_date -0.00000005
        , dss_current_flag = 'N'
        , dss_update_time = @v_current_datetime
  FROM
  (
    SELECT dimNetworkSet_NonDV.NetworkSet  NetworkSet
         , dimNetworkSet_NonDV.NetworkCode  NetworkCode
         , dimNetworkSet_NonDV.NetworkName  NetworkName
         , dimNetworkSet_NonDV.NetworkID  NetworkID
         , dimNetworkSet_NonDV.MDMCaptured  MDMCaptured
         , dimNetworkSet_NonDV.SourceCode  SourceCode
         , dimNetworkSet_NonDV.dss_record_source  dss_record_source
         , dimNetworkSet_NonDV.NKHash  NKHash
         , dimNetworkSet_NonDV.Type1Hash  Type1Hash
    FROM HDSVault.biz.dimNetworkSet_NonDV dimNetworkSet_NonDV
    EXCEPT
    SELECT dimNetworkSet_Base.NetworkSet  NetworkSet
     , dimNetworkSet_Base.NetworkCode  NetworkCode
     , dimNetworkSet_Base.NetworkName  NetworkName
     , dimNetworkSet_Base.NetworkID  NetworkID
     , dimNetworkSet_Base.MDMCaptured  MDMCaptured
     , dimNetworkSet_Base.SourceCode  SourceCode
     , dimNetworkSet_Base.dss_record_source  dss_record_source
     , dimNetworkSet_Base.NKHash  NKHash
     , dimNetworkSet_Base.Type1Hash  Type1Hash
    FROM HDSVault.biz.dimNetworkSet_Base
    WHERE dimNetworkSet_Base.dss_current_flag = 'Y'
  ) AS changes
  WHERE dimNetworkSet_Base.NetworkSet = changes.NetworkSet
  AND   dimNetworkSet_Base.NetworkID = changes.NetworkID
  AND   dimNetworkSet_Base.dss_current_flag = 'Y'
  AND  ( 
         (   dimNetworkSet_Base.NKHash <> changes.NKHash
        OR ( dimNetworkSet_Base.NKHash IS     NULL AND changes.NKHash IS NOT NULL )
        OR ( dimNetworkSet_Base.NKHash IS NOT NULL AND changes.NKHash IS     NULL )
         )
       )
  
  SELECT @v_row_count = @@ROWCOUNT
  
  SET @v_change_count = @v_row_count
  SET @v_update_count = @v_update_count + @v_row_count

  SET @v_step = 400

  --============================================================================
  -- Update changed rows
  --============================================================================
  UPDATE HDSVault.biz.dimNetworkSet_Base WITH ( TABLOCK )
  SET     NetworkCode =  changes.NetworkCode
        , NetworkName =  changes.NetworkName
        , MDMCaptured =  changes.MDMCaptured
        , SourceCode =  changes.SourceCode
        , dss_record_source =  changes.dss_record_source
        , Type1Hash =  changes.Type1Hash
        , dss_update_time = @v_current_datetime
  FROM 
  (
    SELECT dimNetworkSet_NonDV.NetworkSet  NetworkSet
         , dimNetworkSet_NonDV.NetworkCode  NetworkCode
         , dimNetworkSet_NonDV.NetworkName  NetworkName
         , dimNetworkSet_NonDV.NetworkID  NetworkID
         , dimNetworkSet_NonDV.MDMCaptured  MDMCaptured
         , dimNetworkSet_NonDV.SourceCode  SourceCode
         , dimNetworkSet_NonDV.dss_record_source  dss_record_source
         , dimNetworkSet_NonDV.NKHash  NKHash
         , dimNetworkSet_NonDV.Type1Hash  Type1Hash
    FROM HDSVault.biz.dimNetworkSet_NonDV dimNetworkSet_NonDV
    EXCEPT
    SELECT dimNetworkSet_Base.NetworkSet  NetworkSet
         , dimNetworkSet_Base.NetworkCode  NetworkCode
         , dimNetworkSet_Base.NetworkName  NetworkName
         , dimNetworkSet_Base.NetworkID  NetworkID
         , dimNetworkSet_Base.MDMCaptured  MDMCaptured
         , dimNetworkSet_Base.SourceCode  SourceCode
         , dimNetworkSet_Base.dss_record_source  dss_record_source
         , dimNetworkSet_Base.NKHash  NKHash
         , dimNetworkSet_Base.Type1Hash  Type1Hash
    FROM HDSVault.biz.dimNetworkSet_Base
    WHERE dimNetworkSet_Base.dss_current_flag = 'Y'
  ) AS changes
  WHERE dimNetworkSet_Base.NetworkSet = changes.NetworkSet
  AND   dimNetworkSet_Base.NetworkID = changes.NetworkID
  AND   dimNetworkSet_Base.dss_current_flag = 'Y'
  
  SELECT @v_row_count = @@ROWCOUNT
  
  SET @v_update_count = @v_update_count + @v_row_count

  SET @v_step = 500

  --============================================================================
  -- Insert new records
  --============================================================================
  INSERT INTO HDSVault.biz.dimNetworkSet_Base WITH ( TABLOCK )
  ( NetworkSet
  , NetworkCode
  , NetworkName
  , NetworkID
  , MDMCaptured
  , SourceCode
  , dss_record_source
  , NKHash
  , Type1Hash
  , dss_start_date
  , dss_end_date
  , dss_current_flag
  , dss_version
  , dss_create_time
  , dss_update_time
  )
  SELECT 
         dimNetworkSet_NonDV.NetworkSet
       , dimNetworkSet_NonDV.NetworkCode
       , dimNetworkSet_NonDV.NetworkName
       , dimNetworkSet_NonDV.NetworkID
       , dimNetworkSet_NonDV.MDMCaptured
       , dimNetworkSet_NonDV.SourceCode
       , dimNetworkSet_NonDV.dss_record_source
       , dimNetworkSet_NonDV.NKHash
       , dimNetworkSet_NonDV.Type1Hash
       , CASE WHEN vers.NetworkID IS NULL
              THEN CAST('01-JAN-1900' AS datetime)
              ELSE @v_current_date
         END
       , CAST('31-DEC-2999' AS datetime)
       , 'Y'
       , CASE WHEN vers.NetworkID IS NULL
              THEN 1
              ELSE vers.dss_version + 1
              END
       , @v_current_datetime
       , @v_current_datetime
  FROM HDSVault.biz.dimNetworkSet_NonDV dimNetworkSet_NonDV
  LEFT OUTER JOIN (
      SELECT NetworkSet
           , NetworkID
           , MAX(dss_version) dss_version
      FROM HDSVault.biz.dimNetworkSet_Base dimNetworkSet_Base
      GROUP BY NetworkSet
             , NetworkID
  ) AS vers
  ON    dimNetworkSet_NonDV.NetworkSet = vers.NetworkSet
  AND   dimNetworkSet_NonDV.NetworkID = vers.NetworkID
  EXCEPT
  SELECT dimNetworkSet_Base.NetworkSet  NetworkSet
       , dimNetworkSet_Base.NetworkCode  NetworkCode
       , dimNetworkSet_Base.NetworkName  NetworkName
       , dimNetworkSet_Base.NetworkID  NetworkID
       , dimNetworkSet_Base.MDMCaptured  MDMCaptured
       , dimNetworkSet_Base.SourceCode  SourceCode
       , dimNetworkSet_Base.dss_record_source  dss_record_source
       , dimNetworkSet_Base.NKHash  NKHash
       , dimNetworkSet_Base.Type1Hash  Type1Hash
       , @v_current_date
       , CAST('31-DEC-2999' AS datetime)
       , 'Y'
       , dss_version + 1
       , @v_current_datetime
       , @v_current_datetime
  FROM HDSVault.biz.dimNetworkSet_Base
  WHERE dimNetworkSet_Base.dss_current_flag = 'Y'
  
  SELECT @v_row_count = @@ROWCOUNT
  
  SET @v_insert_count = @v_insert_count + @v_row_count


  SET @v_step = 600

  --============================================================================
  -- Final settings
  --============================================================================

  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count, @v_update_count, 0, 0, 0, 0, 0 
  
  SET @v_step = 700
  
  -- Work out the return message

  SET @p_status = 1
  SET @p_return_msg = 'dimNetworkSet_Base updated. '
    + CONVERT(varchar,@v_insert_count) + ' records added. '
    + CONVERT(varchar,@v_update_count) + ' records updated. '
  
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('dimNetworkSet_Base update FAILED'
      + '. Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Num: ' + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0)) 
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023) 
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_dimNetworkSet_NonDV]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================================================================
-- DBMS Name        :    SQL Server
-- Procedure Name   :    update_dimNetworkSet_NonDV
-- Template         :    bci_wsl_sqlserver_proc_dv_stage_collation
-- Template Version :    8.5.1.0
-- Description      :    Update the Stage Table table dimNetworkSet_NonDV
-- Generated by     :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for    :    Blue Cross of Idaho
-- Generated on     :    Thursday, June 29, 2023 at 16:38:29
-- Author           :    Dan Brickey
--==============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_dimNetworkSet_NonDV]
  @p_sequence         INTEGER
, @p_job_name         VARCHAR(256)
, @p_task_name        VARCHAR(256)
, @p_job_id           INTEGER
, @p_task_id          INTEGER
, @p_return_msg       VARCHAR(1024) OUTPUT
, @p_status           INTEGER       OUTPUT

AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================

  DECLARE
    @v_msgtext               VARCHAR(1024) -- Text for audit_trail
  , @v_sql                   NVARCHAR(255) -- Text for SQL statements
  , @v_step                  INTEGER       -- return code
  , @v_insert_count          INTEGER       -- no of records inserted

  , @v_return_status         INTEGER       -- Update result status
  , @v_current_datetime      DATETIME      -- Used for date insert

  --=====================================================
  -- General Variables
  --=====================================================



  --=====================================================
  -- MAIN
  --=====================================================
  SET @v_step = 100

  SET @v_insert_count = 0
  SET @v_current_datetime = GETDATE()

  BEGIN TRY

    --=====================================================
    -- Delete existing records
    --=====================================================
    SET @v_step = 200

    SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.dimNetworkSet_NonDV';
    EXEC @v_return_status = sp_executesql @v_sql

    --=====================================================
    -- Insert new records
    --=====================================================
    SET @v_step = 300

    BEGIN TRANSACTION

      INSERT INTO HDSVault.biz.dimNetworkSet_NonDV WITH (TABLOCK) 
      ( SourceCode
      , NetworkCode
      , NetworkName
      , NetworkID
      , NetworkSet
      , MDMCaptured
      , dss_record_source
      , NKHash
      , Type1Hash
      , dss_create_time
      , dss_update_time)
      SELECT  NetworkSet_NonDV_02.SourceCode AS SourceCode 
           , NetworkSet_NonDV_02.NetworkCode AS NetworkCode 
           , NetworkSet_NonDV_02.NetworkName AS NetworkName 
           , NetworkSet_NonDV_02.NetworkID AS NetworkID 
           , NetworkSet_NonDV_02.NetworkSet AS NetworkSet 
           , NetworkSet_NonDV_02.MDMCaptured AS MDMCaptured 
           , NetworkSet_NonDV_02.dss_record_source AS dss_record_source 
           , HASHBYTES('sha1',
               RTRIM(COALESCE(CAST(NetworkSet_NonDV_02.NetworkSet AS VARCHAR(MAX)),'null')) +'||'+
               RTRIM(COALESCE(CAST(NetworkSet_NonDV_02.NetworkID AS VARCHAR(MAX)),'null'))
               ) AS NKHash 
           , HASHBYTES('sha1',
               LTRIM(RTRIM(COALESCE(CAST(NetworkSet_NonDV_02.SourceCode AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(NetworkSet_NonDV_02.NetworkCode AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(NetworkSet_NonDV_02.NetworkName AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(NetworkSet_NonDV_02.MDMCaptured AS VARCHAR(MAX)),'null')))
               ) AS Type1Hash 
           , @v_current_datetime AS dss_create_time 
           , @v_current_datetime AS dss_update_time 
      FROM HDSVault.biz.NetworkSet_NonDV_02 NetworkSet_NonDV_02
      ;

      SELECT @v_insert_count = @@ROWCOUNT

    COMMIT

    --=====================================================
    -- All Done report the results
    --=====================================================
    SET @v_step = 400

    -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
    EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
     @v_insert_count,0,0,0,0,0,0

    SET @p_status = 1
    SET @p_return_msg = 'dimNetworkSet_NonDV updated. '
      + CONVERT(VARCHAR,@v_insert_count) + ' new records.'

    RETURN 0

  END TRY
  BEGIN CATCH

    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('update_dimNetworkSet_NonDV FAILED with error '
      + CONVERT(VARCHAR,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(VARCHAR,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)

  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END

  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_Base]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_Base
-- Description    :    Build the staging table MemberNetworkSetLookup_Base
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Wednesday, June 28, 2023 at 16:50:36
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_Base]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_Base'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_Base
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_Base WITH ( TABLOCK )
  (
    SourceCode,
    meme_ck,
    grgr_id,
    sbsb_id,
    meme_sfx,
    nwst_pfx,
    nwnw_id,
    StartDate,
    EndDate,
    dss_create_time,
    dss_update_time
  )
  SELECT
    MemberNetworkSetLookup_NonDV_06.SourceCode,
    MemberNetworkSetLookup_NonDV_06.meme_ck,
    MemberNetworkSetLookup_NonDV_06.grgr_id,
    MemberNetworkSetLookup_NonDV_06.sbsb_id,
    MemberNetworkSetLookup_NonDV_06.meme_sfx,
    MemberNetworkSetLookup_NonDV_06.nwst_pfx,
    MemberNetworkSetLookup_NonDV_06.nwnw_id,
    MemberNetworkSetLookup_NonDV_06.StartDate,
    MemberNetworkSetLookup_NonDV_06.EndDate,
    @v_dss_create_time,
    @v_dss_update_time
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_06 MemberNetworkSetLookup_NonDV_06
  WHERE 1 = 0 -- This table is populated by a custom stored proc: biz.spMemberNetworkSetLookup_Rollup 

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_Base updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_Base update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_NonDV_01]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_NonDV_01
-- Description    :    Build the staging table MemberNetworkSetLookup_NonDV_01
-- Generated by   :    WhereScape RED Version 9.0.1.1 (build 230817-144223)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Friday, February 14, 2025 at 12:18:44
-- Author         :    Cathy
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_NonDV_01]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_NonDV_01'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_NonDV_01
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_NonDV_01 WITH ( TABLOCK )
  (
    bkcc_member,
    meme_ck,
    grgr_ck,
    cscs_id,
    cspi_id,
    pdpd_id,
    mepe_eff_dt,
    mepe_term_dt
  )
  SELECT
    v_membereligibilityextended_combined_current.bkcc_member,
    v_membereligibilityextended_combined_current.meme_ck,
    v_membereligibilityextended_combined_current.grgr_ck,
    v_membereligibilityextended_combined_current.cscs_id,
    v_membereligibilityextended_combined_current.cspi_id,
    v_membereligibilityextended_combined_current.pdpd_id,
    v_membereligibilityextended_combined_current.mepe_eff_dt,
    v_membereligibilityextended_combined_current.mepe_term_dt
  FROM HDSVault.biz.v_membereligibilityextended_combined_current v_membereligibilityextended_combined_current
  WHERE v_membereligibilityextended_combined_current.MEPE_ELIG_IND = 'Y'
  	AND v_membereligibilityextended_combined_current.cspd_cat = 'M'
  	AND v_membereligibilityextended_combined_current.MEPE_TERM_DT >= '01/01/2017' -- limit to edw2 history dates
  and NOT v_membereligibilityextended_combined_current.bkcc_member IS NULL

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_NonDV_01 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_NonDV_01 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_NonDV_02]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_NonDV_02
-- Description    :    Build the staging table MemberNetworkSetLookup_NonDV_02
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Wednesday, June 28, 2023 at 14:47:40
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_NonDV_02]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_NonDV_02'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_NonDV_02
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_NonDV_02 WITH ( TABLOCK )
  (
    SourceCode,
    meme_ck,
    nwst_pfx,
    nwst_seq_no,
    nwnw_id,
    mepe_eff_dt,
    mepe_term_dt,
    cspi_eff_dt,
    cspi_term_dt,
    nwst_eff_dt,
    nwst_term_dt,
    pdbc_type,
    dss_create_time,
    dss_update_time
  )
  SELECT
    v_member_combined_current.bkcc_member,
    v_member_combined_current.meme_ck,
    v_providernetworksetextended_combined_current.nwst_pfx,
    v_providernetworksetextended_combined_current.nwst_seq_no,
    v_providernetworksetextended_combined_current.nwnw_id,
    MemberNetworkSetLookup_NonDV_01.mepe_eff_dt,
    MemberNetworkSetLookup_NonDV_01.mepe_term_dt,
    v_groupclassplanextended_combined_current.cspi_eff_dt,
    v_groupclassplanextended_combined_current.cspi_term_dt,
    v_providernetworksetextended_combined_current.nwst_eff_dt,
    v_providernetworksetextended_combined_current.nwst_term_dt,
    MAX(v_productcomponent_combined_current.pdbc_type) pdbc_type,
    @v_dss_create_time,
    @v_dss_update_time
  FROM HDSVault.biz.v_member_combined_current v_member_combined_current WITH(NOLOCK) 
  INNER JOIN HDSVault.biz.MemberNetworkSetLookup_NonDV_01 MemberNetworkSetLookup_NonDV_01 WITH(NOLOCK) 
   ON MemberNetworkSetLookup_NonDV_01.bkcc_member = v_member_combined_current.bkcc_member
  AND MemberNetworkSetLookup_NonDV_01.meme_ck = v_member_combined_current.meme_ck
  INNER JOIN HDSVault.biz.v_groupclassplanextended_combined_current v_groupclassplanextended_combined_current WITH(NOLOCK) 
   ON v_groupclassplanextended_combined_current.bkcc_group = MemberNetworkSetLookup_NonDV_01.bkcc_member
  AND MemberNetworkSetLookup_NonDV_01.grgr_ck = v_groupclassplanextended_combined_current.grgr_ck
  AND MemberNetworkSetLookup_NonDV_01.cscs_id = v_groupclassplanextended_combined_current.cscs_id
  AND v_groupclassplanextended_combined_current.cspd_cat = 'M'
  AND MemberNetworkSetLookup_NonDV_01.cspi_id = v_groupclassplanextended_combined_current.cspi_id
  AND (v_groupclassplanextended_combined_current.cspi_eff_dt <= MemberNetworkSetLookup_NonDV_01.mepe_term_dt)
  AND (v_groupclassplanextended_combined_current.cspi_term_dt >= MemberNetworkSetLookup_NonDV_01.mepe_eff_dt)
  AND MemberNetworkSetLookup_NonDV_01.pdpd_id = v_groupclassplanextended_combined_current.pdpd_id
  INNER JOIN HDSVault.biz.v_providernetworksetextended_combined_current v_providernetworksetextended_combined_current WITH(NOLOCK) 
   ON v_providernetworksetextended_combined_current.bkcc_providernetworksetprefix = v_groupclassplanextended_combined_current.bkcc_group
  AND v_providernetworksetextended_combined_current.nwst_pfx = v_groupclassplanextended_combined_current.nwst_pfx
  AND (v_providernetworksetextended_combined_current.nwst_eff_dt <= v_groupclassplanextended_combined_current.cspi_term_dt)
  AND (v_providernetworksetextended_combined_current.nwst_term_dt >= v_groupclassplanextended_combined_current.cspi_eff_dt)
  AND (v_providernetworksetextended_combined_current.nwst_eff_dt <= MemberNetworkSetLookup_NonDV_01.mepe_term_dt)
  AND (v_providernetworksetextended_combined_current.nwst_term_dt >= MemberNetworkSetLookup_NonDV_01.mepe_eff_dt)
  --jhicks 04/09/2024 removed logic which filters by specific nwpr_pfx
  /*
  AND (
   (v_providernetworksetextended_combined_current.bkcc_providernetworksetprefix = 'FCT' AND v_providernetworksetextended_combined_current.nwpr_pfx IN ('HOSP','PHYS','PHY2'))
   OR
   (v_providernetworksetextended_combined_current.bkcc_providernetworksetprefix = 'GEM' AND v_providernetworksetextended_combined_current.nwpr_pfx IN ('CC01','CC02','CC03','CC04','CC05','CC06'))
  )
  */
  INNER JOIN HDSVault.biz.v_productcomponent_combined_current v_productcomponent_combined_current WITH(NOLOCK) 
   ON v_productcomponent_combined_current.bkcc_productcomponentprefix = v_providernetworksetextended_combined_current.bkcc_providernetworksetprefix
  AND v_productcomponent_combined_current.pdbc_pfx = v_providernetworksetextended_combined_current.nwst_pfx
  AND v_productcomponent_combined_current.pdbc_type = 'NWST'
  GROUP BY 
  	v_member_combined_current.bkcc_member 
  	,v_member_combined_current.meme_ck
  	,v_providernetworksetextended_combined_current.nwst_pfx
  	,v_providernetworksetextended_combined_current.nwst_seq_no
  	,v_providernetworksetextended_combined_current.nwnw_id
  	,MemberNetworkSetLookup_NonDV_01.mepe_eff_dt
  	,MemberNetworkSetLookup_NonDV_01.mepe_term_dt
  	,v_groupclassplanextended_combined_current.cspi_eff_dt
  	,v_groupclassplanextended_combined_current.cspi_term_dt
  	,v_providernetworksetextended_combined_current.nwst_eff_dt
  	,v_providernetworksetextended_combined_current.nwst_term_dt

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_NonDV_02 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_NonDV_02 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0

GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_NonDV_03]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_NonDV_03
-- Description    :    Build the staging table MemberNetworkSetLookup_NonDV_03
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Wednesday, June 28, 2023 at 15:22:12
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_NonDV_03]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_NonDV_03'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_NonDV_03
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_NonDV_03 WITH ( TABLOCK )
  (
    SourceCode,
    meme_ck,
    FromDate,
    dss_create_time,
    dss_update_time
  )
  SELECT
    MemberNetworkSetLookup_NonDV_02.SourceCode,
    MemberNetworkSetLookup_NonDV_02.meme_ck,
    MemberNetworkSetLookup_NonDV_02.FromDate,
    @v_dss_create_time,
    @v_dss_update_time
  FROM  
  (
  SELECT n.SourceCode, n.MEME_CK,n.MEPE_EFF_DT FromDate 
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,n.MEPE_EFF_DT  
  UNION
  SELECT n.SourceCode, n.MEME_CK,n.CSPI_EFF_DT FromDate 
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,n.CSPI_EFF_DT  
  UNION
  SELECT n.SourceCode, n.MEME_CK,n.NWST_EFF_DT FromDate 
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,n.NWST_EFF_DT  
  UNION
  ---- Day after a thru date could be a from date
  SELECT n.SourceCode,n.MEME_CK,CASE WHEN n.MEPE_TERM_DT = '12/31/9999' THEN n.MEPE_TERM_DT ELSE DATEADD(DAY,1,n.MEPE_TERM_DT) END FromDate
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode,n.MEME_CK,CASE WHEN n.MEPE_TERM_DT = '12/31/9999' THEN n.MEPE_TERM_DT ELSE DATEADD(DAY,1,n.MEPE_TERM_DT) END 
  UNION
  SELECT n.SourceCode, n.MEME_CK,CASE WHEN n.CSPI_TERM_DT = '12/31/9999' THEN n.CSPI_TERM_DT ELSE DATEADD(DAY,1,n.CSPI_TERM_DT) END FromDate
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,CASE WHEN n.CSPI_TERM_DT = '12/31/9999' THEN n.CSPI_TERM_DT ELSE DATEADD(DAY,1,n.CSPI_TERM_DT) END
  UNION
  SELECT n.SourceCode, n.MEME_CK,CASE WHEN n.NWST_TERM_DT = '12/31/9999' THEN n.NWST_TERM_DT ELSE DATEADD(DAY,1,n.NWST_TERM_DT) END FromDate
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,CASE WHEN n.NWST_TERM_DT = '12/31/9999' THEN n.NWST_TERM_DT ELSE DATEADD(DAY,1,n.NWST_TERM_DT) END
  ) MemberNetworkSetLookup_NonDV_02

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_NonDV_03 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_NonDV_03 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_NonDV_04]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_NonDV_04
-- Description    :    Build the staging table MemberNetworkSetLookup_NonDV_04
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Wednesday, June 28, 2023 at 15:25:05
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_NonDV_04]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_NonDV_04'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_NonDV_04
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_NonDV_04 WITH ( TABLOCK )
  (
    SourceCode,
    meme_ck,
    ThruDate,
    dss_create_time,
    dss_update_time
  )
  SELECT
    MemberNetworkSetLookup_NonDV_02.SourceCode,
    MemberNetworkSetLookup_NonDV_02.meme_ck,
    MemberNetworkSetLookup_NonDV_02.ThruDate,
    @v_dss_create_time,
    @v_dss_update_time
  FROM  
  (
  SELECT n.SourceCode,n.MEME_CK,n.MEPE_TERM_DT ThruDate 
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,n.MEPE_TERM_DT 
  	UNION			
  SELECT n.SourceCode,n.MEME_CK,n.CSPI_TERM_DT ThruDate 
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,n.CSPI_TERM_DT 
  	UNION			
  SELECT n.SourceCode,n.MEME_CK,n.NWST_TERM_DT ThruDate 
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode, n.MEME_CK,n.NWST_TERM_DT 
  	UNION
  ---- Day before a from date could be a thru date
  SELECT n.SourceCode,n.MEME_CK,DATEADD(DAY,-1,n.MEPE_EFF_DT) FromDate  
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode,n.MEME_CK,DATEADD(DAY,-1,n.MEPE_EFF_DT)
  	UNION
  SELECT n.SourceCode,n.MEME_CK,DATEADD(DAY,-1,n.CSPI_EFF_DT) FromDate  
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode,n.MEME_CK,DATEADD(DAY,-1,n.CSPI_EFF_DT)
  	UNION
  SELECT n.SourceCode,n.MEME_CK,DATEADD(DAY,-1,n.NWST_EFF_DT) FromDate  
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_02 n WITH(NOLOCK) -- WHERE MEME_CK IN (84599100,101842301)
  GROUP BY n.SourceCode,n.MEME_CK,DATEADD(DAY,-1,n.NWST_EFF_DT)
  ) MemberNetworkSetLookup_NonDV_02

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_NonDV_04 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_NonDV_04 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_NonDV_05]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_NonDV_05
-- Description    :    Build the staging table MemberNetworkSetLookup_NonDV_05
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Wednesday, June 28, 2023 at 15:44:20
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_NonDV_05]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_NonDV_05'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_NonDV_05
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_NonDV_05 WITH ( TABLOCK )
  (
    SourceCode,
    meme_ck,
    FromDate,
    ThruDate,
    RowNum,
    DaysInterval,
    dss_create_time,
    dss_update_time
  )
  SELECT
    MemberNetworkSetLookup_NonDV_03.SourceCode,
    MemberNetworkSetLookup_NonDV_03.meme_ck,
    MemberNetworkSetLookup_NonDV_03.FromDate,
    MemberNetworkSetLookup_NonDV_04.ThruDate,
    ROW_NUMBER() OVER (
 PARTITION BY 
  MemberNetworkSetLookup_NonDV_03.SourceCode,
  MemberNetworkSetLookup_NonDV_03.meme_ck, 
  MemberNetworkSetLookup_NonDV_03.FromDate
 ORDER BY 
  DATEDIFF(
   DAY,
   MemberNetworkSetLookup_NonDV_03.FromDate,
   MemberNetworkSetLookup_NonDV_04.ThruDate) ASC
  ) RowNum,
    DATEDIFF(
 DAY,
 MemberNetworkSetLookup_NonDV_03.FromDate,
 MemberNetworkSetLookup_NonDV_04.ThruDate
) DaysInterval,
    @v_dss_create_time,
    @v_dss_update_time
  FROM  
   HDSVault.biz.MemberNetworkSetLookup_NonDV_03 MemberNetworkSetLookup_NonDV_03 -- FromDates			
   INNER JOIN HDSVault.biz.MemberNetworkSetLookup_NonDV_04 MemberNetworkSetLookup_NonDV_04 -- ThruDates
    ON MemberNetworkSetLookup_NonDV_04.meme_ck = MemberNetworkSetLookup_NonDV_03.meme_ck
     AND MemberNetworkSetLookup_NonDV_04.SourceCode = MemberNetworkSetLookup_NonDV_03.SourceCode
  WHERE 
   DATEDIFF(
    DAY,
    MemberNetworkSetLookup_NonDV_03.FromDate, 
    MemberNetworkSetLookup_NonDV_04.ThruDate
   ) >= 0

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_NonDV_05 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_NonDV_05 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_MemberNetworkSetLookup_NonDV_06]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_MemberNetworkSetLookup_NonDV_06
-- Description    :    Build the staging table MemberNetworkSetLookup_NonDV_06
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Wednesday, June 28, 2023 at 16:51:08
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_MemberNetworkSetLookup_NonDV_06]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.MemberNetworkSetLookup_NonDV_06'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into MemberNetworkSetLookup_NonDV_06
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.MemberNetworkSetLookup_NonDV_06 WITH ( TABLOCK )
  (
    SourceCode,
    meme_ck,
    grgr_id,
    sbsb_id,
    meme_sfx,
    nwst_pfx,
    nwnw_id,
    StartDate,
    EndDate,
    dss_create_time,
    dss_update_time
  )
  SELECT
    MemberNetworkSetLookup_NonDV_05.SourceCode,
    MemberNetworkSetLookup_NonDV_05.meme_ck,
    v_group_combined_current.grgr_id,
    v_subscriber_combined_current.sbsb_id,
    v_member_combined_current.meme_sfx,
    MemberNetworkSetLookup_NonDV_02.nwst_pfx,
    MemberNetworkSetLookup_NonDV_02.nwnw_id,
    MemberNetworkSetLookup_NonDV_05.FromDate,
    MemberNetworkSetLookup_NonDV_05.ThruDate,
    @v_dss_create_time,
    @v_dss_update_time
  FROM HDSVault.biz.MemberNetworkSetLookup_NonDV_05 MemberNetworkSetLookup_NonDV_05
  JOIN HDSVault.biz.MemberNetworkSetLookup_NonDV_02 MemberNetworkSetLookup_NonDV_02
    ON MemberNetworkSetLookup_NonDV_02.SourceCode = MemberNetworkSetLookup_NonDV_05.SourceCode 
   AND MemberNetworkSetLookup_NonDV_02.meme_ck = MemberNetworkSetLookup_NonDV_05.meme_ck
  JOIN HDSVault.biz.v_member_combined_current v_member_combined_current
    ON MemberNetworkSetLookup_NonDV_02.SourceCode = v_member_combined_current.bkcc_member
   AND MemberNetworkSetLookup_NonDV_02.meme_ck = v_member_combined_current.meme_ck
  JOIN HDSVault.biz.v_group_combined_current v_group_combined_current
    ON v_member_combined_current.bkcc_member = v_group_combined_current.bkcc_group
   AND v_member_combined_current.grgr_ck = v_group_combined_current.grgr_ck
  JOIN HDSVault.biz.v_subscriber_combined_current v_subscriber_combined_current
    ON v_member_combined_current.bkcc_member = v_subscriber_combined_current.bkcc_subscriber
   AND v_member_combined_current.sbsb_ck = v_subscriber_combined_current.sbsb_ck
  WHERE 1 = 0 -- This table is populated by a custom stored proc: biz.spMemberNetworkSetLookup_DateRanges

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'MemberNetworkSetLookup_NonDV_06 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('MemberNetworkSetLookup_NonDV_06 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_NetworkSet_NonDV_01]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_NetworkSet_NonDV_01
-- Description    :    Build the staging table NetworkSet_NonDV_01
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Thursday, June 29, 2023 at 16:38:06
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_NetworkSet_NonDV_01]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.NetworkSet_NonDV_01'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into NetworkSet_NonDV_01
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.NetworkSet_NonDV_01 WITH ( TABLOCK )
  (
    SourceCode,
    NetworkCode,
    NetworkName,
    NetworkID,
    NetworkSet,
    MDMCaptured,
    RowNum,
    dss_record_source,
    dss_create_time,
    dss_update_time
  )
  SELECT
    v_NetworkSet_Union.SourceCode,
    v_NetworkSet_Union.NetworkCode,
    v_NetworkSet_Union.NetworkName,
    v_NetworkSet_Union.NetworkID,
    v_NetworkSet_Union.NetworkSet,
    v_NetworkSet_Union.MDMCaptured,
    ROW_NUMBER () OVER (PARTITION BY NetworkSet,NetworkID ORDER BY SourceCode DESC) RowNum,
    v_NetworkSet_Union.dss_record_source,
    @v_dss_create_time,
    @v_dss_update_time
  FROM HDSVault.biz.v_NetworkSet_Union v_NetworkSet_Union

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'NetworkSet_NonDV_01 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('NetworkSet_NonDV_01 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
/****** Object:  StoredProcedure [biz].[update_NetworkSet_NonDV_02]    Script Date: 10/27/2025 2:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_NetworkSet_NonDV_02
-- Description    :    Build the staging table NetworkSet_NonDV_02
-- Generated by   :    WhereScape RED Version 8.6.5.1 (build 211024-115652)
-- Generated for  :    Blue Cross of Idaho
-- Generated on   :    Thursday, June 29, 2023 at 16:38:11
-- Author         :    Dan Brickey
-- =============================================================================
-- Notes / History
--
CREATE PROCEDURE [biz].[update_NetworkSet_NonDV_02]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================
  DECLARE
    @v_msgtext         varchar(1024) -- Text for audit_trail
  , @v_sql             nvarchar(255) -- Text for SQL statements
  , @v_set             integer       -- commit set
  , @v_analyze_flag    integer       -- analyze flag
  , @v_step            integer       -- return code
  , @v_update_count    integer       -- no of records updated
  , @v_insert_count    integer       -- no of records inserted
  , @v_count           integer       -- General counter
  , @v_db_code         varchar(10)   -- Database error code
  , @v_db_msg          varchar(1024) -- Database error message

  --=====================================================
  -- General Variables
  --=====================================================
  DECLARE
    @v_return_status   integer       -- Update result status
  , @v_getkey_status   integer       -- GetKey procedure status
  , @v_row_count       integer       -- General row count
  , @v_truncate_date   datetime      -- Used to set date to midnight
  , @v_dss_source_system_key integer -- Used for dimension joins
  , @v_dss_current_flag      char(1) -- Used for dimension joins
  , @v_dss_create_time       datetime  -- Used for date insert
  , @v_dss_update_time       datetime  -- Used for date insert

  

  --=====================================================
  -- MAIN
  --=====================================================
  SELECT @v_step = 100
  BEGIN TRY

  -- Set initial variable values
  SELECT
    @v_set          = 0
  , @v_analyze_flag = 0
  , @v_step         = 200
  , @v_update_count = 0
  , @v_insert_count = 0
  , @v_dss_source_system_key = 1
  , @v_dss_current_flag = 'Y'
  , @v_dss_create_time = GETDATE()
  , @v_dss_update_time = GETDATE()



  --=====================================================
  -- Delete all existing data from the staging table
  --=====================================================
  SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.NetworkSet_NonDV_02'
  EXEC @v_return_status = sp_executesql @v_sql

  --=======================================================
  -- Insert input records into NetworkSet_NonDV_02
  --=======================================================
  SET @v_step = 300
  
  BEGIN TRANSACTION
  
  INSERT INTO HDSVault.biz.NetworkSet_NonDV_02 WITH ( TABLOCK )
  (
    SourceCode,
    NetworkCode,
    NetworkName,
    NetworkID,
    NetworkSet,
    MDMCaptured,
    dss_record_source,
    dss_create_time,
    dss_update_time
  )
  SELECT
    NetworkSet_NonDV_01.SourceCode,
    NetworkSet_NonDV_01.NetworkCode,
    NetworkSet_NonDV_01.NetworkName,
    NetworkSet_NonDV_01.NetworkID,
    NetworkSet_NonDV_01.NetworkSet,
    NetworkSet_NonDV_01.MDMCaptured,
    NetworkSet_NonDV_01.dss_record_source,
    @v_dss_create_time,
    @v_dss_update_time
  FROM HDSVault.biz.NetworkSet_NonDV_01 NetworkSet_NonDV_01
  WHERE RowNum = 1

  SELECT @v_insert_count = @@ROWCOUNT
  
  COMMIT


  --=====================================================
  -- All Done report the results
  --=====================================================
  
  -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
  EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
    @v_insert_count,@v_update_count,0,0,0,0,0

  -- Work out the return message
  SET @v_step = 400
  SET @p_status = 1
  SET @p_return_msg = 'NetworkSet_NonDV_02 updated. '
    + CONVERT(varchar,@v_insert_count) + ' new records. '
    + CONVERT(varchar,@v_update_count) + ' records updated.'
    IF @v_update_count > 0
    BEGIN
      SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
      SET @p_status = -1
    END

  RETURN 0
  END TRY
  BEGIN CATCH
    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('NetworkSet_NonDV_02 update FAILED with error '
      + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END
  RETURN 0
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Generated artificial key' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'NetworkSetPK'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Record source.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_record_source'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Datetime a business key was started.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Datetime a business key was retired.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_end_date'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Flag to indicate the current (latest) version of a business key.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_current_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Version number of a business key.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_version'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was created in the data warehouse.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was updated in the data warehouse.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_Base', @level2type=N'COLUMN',@level2name=N'dss_update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Record source.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_NonDV', @level2type=N'COLUMN',@level2name=N'dss_record_source'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was created in the data warehouse.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_NonDV', @level2type=N'COLUMN',@level2name=N'dss_create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was updated in the data warehouse.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'dimNetworkSet_NonDV', @level2type=N'COLUMN',@level2name=N'dss_update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Record source.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'VIEW',@level1name=N'v_NetworkSet_Union', @level2type=N'COLUMN',@level2name=N'dss_record_source'
GO
