USE [HDSVault]
GO
/****** Object:  StoredProcedure [biz].[update_dimProviderAgreement_base]    Script Date: 10/9/2025 5:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================================================================
-- DBMS Name      :    SQL Server 2012
-- Script Name    :    update_dimProviderAgreement_base
-- Description    :    Update the Dimension table dimProviderAgreement_base
-- Generated by   :    WhereScape RED Version 8.6.6.1 (build 220216-231917)
-- Generated for  :    Blue Cross Of Idaho
-- Generated on   :    Monday, March 13, 2023 at 14:09:23
-- Author         :    Shreya Thacker
--==============================================================================
-- Notes / History
--

ALTER PROCEDURE [biz].[update_dimProviderAgreement_base]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
    SET XACT_ABORT OFF  -- Turn off auto abort on errors
    SET NOCOUNT ON      -- Turn off row count messages

    --==========================================================================
    -- Control variables used in most programs
    --==========================================================================
    DECLARE
      @v_msgtext            varchar(1024) -- Text for audit_trail
    , @v_sql                nvarchar(255) -- Text for SQL statements
    , @v_set                integer       -- commit set
    , @v_analyze_flag       integer       -- analyze flag
    , @v_step               integer       -- step number
    , @v_insert_count       integer       -- no of records inserted
    , @v_update_count       integer       -- no of records updated
    , @v_change_count       integer       -- Used for history start/end dates
    , @v_count              integer       -- General counter
    , @v_db_code            varchar(10)   -- Database error code
    , @v_db_msg             varchar(1024) -- Database error message

    --==========================================================================
    -- General Variables
    --==========================================================================
    DECLARE
      @v_return_status      integer       -- Update result status
    , @v_row_count          integer       -- General row count
    , @v_status             integer       -- General status field
    , @v_getkey_status      integer       -- GetKey procedure status
    , @v_current_datetime   datetime      -- Used for create/update dates
    , @v_current_date       datetime      -- Used to set date to midnight
    --==========================================================================
    -- Main
    --==========================================================================
    BEGIN TRY

    SET @v_step             = 100
    SET @v_insert_count     = 0
    SET @v_update_count     = 0
    SET @v_change_count     = 0
    SET @v_current_datetime = GETDATE()
    SET @v_current_date     = CONVERT(DATETIME,CONVERT(VARCHAR,GETDATE(),112),112)
    

    --==========================================================================
    -- Include 0 key row for when lookup to this table is null
    --==========================================================================
    SET @v_step = 200
    SET @v_count = 0

    SELECT @v_count = 1
    FROM  HDSVault.biz.dimProviderAgreement_base
    WHERE ProviderAgreementPK = 0

    IF @v_count = 0
    BEGIN
        SET @v_step = 300
        BEGIN TRANSACTION

        -- Allow explicit value to be inserted into IDENTITY field
        SET IDENTITY_INSERT HDSVault.biz.dimProviderAgreement_base ON

        INSERT INTO HDSVault.biz.dimProviderAgreement_base
        ( ProviderAgreementPK
        , SourceID
        , SourceDescription
        , ProviderAgreementID
        , AgreementEffFromDt
        , AgreementTermDt
        , AgreementCategory
        , AgreementDescription
        , AgreementTypeDesc
        , AgreementType
        , RiskWithholdPercent
        , RiskWithholdIndicator
        , InpatientPriceIndicator
        , OutpatientPriceIndicator
        , HospitalOutlierIndicator
        , HospitalOutlierDiscountPercent
        , HospitalOutlierLimit
        , StraightDiscountPercent
        , StraightDiscountIndicator
        , StraightDiscountMethod
        , SupplementalDiscountPercent
        , ServiceDefinitionPrefix
        , AmbulatorySurgeryPrefix
        , PreauthPrefix
        , StoplossPrefix
        , ExclusionPrefix
        , DRGPrefix
        , RoomtypePrefix
        , PricingProfileIndicator
        , OverrideProfilePrefix
        , NKHash
        , Type1Hash
        , dss_current_flag
        , dss_version
        , dss_start_date
        , dss_end_date
        , dss_update_time
        , dss_create_time
        )
        VALUES
        ( 0
        , SUBSTRING('Unknown',1,50)
        , SUBSTRING('Unknown',1,50)
        , SUBSTRING('Unknown',1,12)
        , NULL
        , NULL
        , SUBSTRING('Unknown',1,1)
        , SUBSTRING('Unknown',1,255)
        , SUBSTRING('Unknown',1,255)
        , SUBSTRING('Unknown',1,4)
        , NULL
        , SUBSTRING('Unknown',1,1)
        , SUBSTRING('Unknown',1,1)
        , SUBSTRING('Unknown',1,1)
        , SUBSTRING('Unknown',1,1)
        , NULL
        , NULL
        , NULL
        , SUBSTRING('Unknown',1,1)
        , SUBSTRING('Unknown',1,1)
        , NULL
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,4)
        , SUBSTRING('Unknown',1,1)
        , SUBSTRING('Unknown',1,12)
        , NULL
        , NULL
        , 'Y'
        , 1
        , CAST('01-JAN-1900' AS datetime)
        , CAST('31-DEC-2999' AS datetime)
        , GETDATE()
        , GETDATE()
        )

        SELECT @v_row_count = @@ROWCOUNT
        
        -- Restore default handling of IDENTITY field
        SET IDENTITY_INSERT HDSVault.biz.dimProviderAgreement_base OFF
        COMMIT
    END

    --==========================================================================
    -- Update expiring rows
    --==========================================================================
    UPDATE HDSVault.biz.dimProviderAgreement_base WITH ( TABLOCK )
    SET     dss_end_date = @v_current_date -0.00000005
          , dss_current_flag = 'N'
          , dss_update_time = @v_current_datetime
    FROM
    (
        SELECT ProviderAgreement_NONDV.SourceID    SourceID
             , ProviderAgreement_NONDV.SourceDescription    SourceDescription
             , ProviderAgreement_NONDV.ProviderAgreementID    ProviderAgreementID
             , ProviderAgreement_NONDV.AgreementEffFromDt    AgreementEffFromDt
             , ProviderAgreement_NONDV.AgreementTermDt    AgreementTermDt
             , ProviderAgreement_NONDV.AgreementCategory    AgreementCategory
             , ProviderAgreement_NONDV.AgreementDescription    AgreementDescription
             , ProviderAgreement_NONDV.AgreementTypeDesc    AgreementTypeDesc
             , ProviderAgreement_NONDV.AgreementType    AgreementType
             , ProviderAgreement_NONDV.RiskWithholdPercent    RiskWithholdPercent
             , ProviderAgreement_NONDV.RiskWithholdIndicator    RiskWithholdIndicator
             , ProviderAgreement_NONDV.InpatientPriceIndicator    InpatientPriceIndicator
             , ProviderAgreement_NONDV.OutpatientPriceIndicator    OutpatientPriceIndicator
             , ProviderAgreement_NONDV.HospitalOutlierIndicator    HospitalOutlierIndicator
             , ProviderAgreement_NONDV.HospitalOutlierDiscountPercent    HospitalOutlierDiscountPercent
             , ProviderAgreement_NONDV.HospitalOutlierLimit    HospitalOutlierLimit
             , ProviderAgreement_NONDV.StraightDiscountPercent    StraightDiscountPercent
             , ProviderAgreement_NONDV.StraightDiscountIndicator    StraightDiscountIndicator
             , ProviderAgreement_NONDV.StraightDiscountMethod    StraightDiscountMethod
             , ProviderAgreement_NONDV.SupplementalDiscountPercent    SupplementalDiscountPercent
             , ProviderAgreement_NONDV.ServiceDefinitionPrefix    ServiceDefinitionPrefix
             , ProviderAgreement_NONDV.AmbulatorySurgeryPrefix    AmbulatorySurgeryPrefix
             , ProviderAgreement_NONDV.PreauthPrefix    PreauthPrefix
             , ProviderAgreement_NONDV.StoplossPrefix    StoplossPrefix
             , ProviderAgreement_NONDV.ExclusionPrefix    ExclusionPrefix
             , ProviderAgreement_NONDV.DRGPrefix    DRGPrefix
             , ProviderAgreement_NONDV.RoomtypePrefix    RoomtypePrefix
             , ProviderAgreement_NONDV.PricingProfileIndicator    PricingProfileIndicator
             , ProviderAgreement_NONDV.OverrideProfilePrefix    OverrideProfilePrefix
             , ProviderAgreement_NONDV.NKHash    NKHash
             , ProviderAgreement_NONDV.Type1Hash    Type1Hash
        FROM HDSVault.biz.ProviderAgreement_NONDV ProviderAgreement_NONDV
        EXCEPT
        SELECT dimProviderAgreement_base.SourceID    SourceID
         , dimProviderAgreement_base.SourceDescription    SourceDescription
         , dimProviderAgreement_base.ProviderAgreementID    ProviderAgreementID
         , dimProviderAgreement_base.AgreementEffFromDt    AgreementEffFromDt
         , dimProviderAgreement_base.AgreementTermDt    AgreementTermDt
         , dimProviderAgreement_base.AgreementCategory    AgreementCategory
         , dimProviderAgreement_base.AgreementDescription    AgreementDescription
         , dimProviderAgreement_base.AgreementTypeDesc    AgreementTypeDesc
         , dimProviderAgreement_base.AgreementType    AgreementType
         , dimProviderAgreement_base.RiskWithholdPercent    RiskWithholdPercent
         , dimProviderAgreement_base.RiskWithholdIndicator    RiskWithholdIndicator
         , dimProviderAgreement_base.InpatientPriceIndicator    InpatientPriceIndicator
         , dimProviderAgreement_base.OutpatientPriceIndicator    OutpatientPriceIndicator
         , dimProviderAgreement_base.HospitalOutlierIndicator    HospitalOutlierIndicator
         , dimProviderAgreement_base.HospitalOutlierDiscountPercent    HospitalOutlierDiscountPercent
         , dimProviderAgreement_base.HospitalOutlierLimit    HospitalOutlierLimit
         , dimProviderAgreement_base.StraightDiscountPercent    StraightDiscountPercent
         , dimProviderAgreement_base.StraightDiscountIndicator    StraightDiscountIndicator
         , dimProviderAgreement_base.StraightDiscountMethod    StraightDiscountMethod
         , dimProviderAgreement_base.SupplementalDiscountPercent    SupplementalDiscountPercent
         , dimProviderAgreement_base.ServiceDefinitionPrefix    ServiceDefinitionPrefix
         , dimProviderAgreement_base.AmbulatorySurgeryPrefix    AmbulatorySurgeryPrefix
         , dimProviderAgreement_base.PreauthPrefix    PreauthPrefix
         , dimProviderAgreement_base.StoplossPrefix    StoplossPrefix
         , dimProviderAgreement_base.ExclusionPrefix    ExclusionPrefix
         , dimProviderAgreement_base.DRGPrefix    DRGPrefix
         , dimProviderAgreement_base.RoomtypePrefix    RoomtypePrefix
         , dimProviderAgreement_base.PricingProfileIndicator    PricingProfileIndicator
         , dimProviderAgreement_base.OverrideProfilePrefix    OverrideProfilePrefix
         , dimProviderAgreement_base.NKHash    NKHash
         , dimProviderAgreement_base.Type1Hash    Type1Hash
        FROM HDSVault.biz.dimProviderAgreement_base
        WHERE dimProviderAgreement_base.dss_current_flag = 'Y'
    ) AS changes
    WHERE dimProviderAgreement_base.SourceID = changes.SourceID
    AND   dimProviderAgreement_base.ProviderAgreementID = changes.ProviderAgreementID
    AND   dimProviderAgreement_base.AgreementEffFromDt = changes.AgreementEffFromDt
    AND   dimProviderAgreement_base.dss_current_flag = 'Y'
    AND  ( 
             (   dimProviderAgreement_base.NKHash <> changes.NKHash
            OR ( dimProviderAgreement_base.NKHash IS     NULL AND changes.NKHash IS NOT NULL )
            OR ( dimProviderAgreement_base.NKHash IS NOT NULL AND changes.NKHash IS     NULL )
             )
           )
    
    SELECT @v_row_count = @@ROWCOUNT
    
    SET @v_change_count = @v_row_count
    SET @v_update_count = @v_update_count + @v_row_count

    SET @v_step = 400

    --==========================================================================
    -- Update changed rows
    --==========================================================================
    UPDATE HDSVault.biz.dimProviderAgreement_base WITH ( TABLOCK )
    SET     SourceDescription =  changes.SourceDescription
          , AgreementTermDt =  changes.AgreementTermDt
          , AgreementCategory =  changes.AgreementCategory
          , AgreementDescription =  changes.AgreementDescription
          , AgreementTypeDesc =  changes.AgreementTypeDesc
          , AgreementType =  changes.AgreementType
          , RiskWithholdPercent =  changes.RiskWithholdPercent
          , RiskWithholdIndicator =  changes.RiskWithholdIndicator
          , InpatientPriceIndicator =  changes.InpatientPriceIndicator
          , OutpatientPriceIndicator =  changes.OutpatientPriceIndicator
          , HospitalOutlierIndicator =  changes.HospitalOutlierIndicator
          , HospitalOutlierDiscountPercent =  changes.HospitalOutlierDiscountPercent
          , HospitalOutlierLimit =  changes.HospitalOutlierLimit
          , StraightDiscountPercent =  changes.StraightDiscountPercent
          , StraightDiscountIndicator =  changes.StraightDiscountIndicator
          , StraightDiscountMethod =  changes.StraightDiscountMethod
          , SupplementalDiscountPercent =  changes.SupplementalDiscountPercent
          , ServiceDefinitionPrefix =  changes.ServiceDefinitionPrefix
          , AmbulatorySurgeryPrefix =  changes.AmbulatorySurgeryPrefix
          , PreauthPrefix =  changes.PreauthPrefix
          , StoplossPrefix =  changes.StoplossPrefix
          , ExclusionPrefix =  changes.ExclusionPrefix
          , DRGPrefix =  changes.DRGPrefix
          , RoomtypePrefix =  changes.RoomtypePrefix
          , PricingProfileIndicator =  changes.PricingProfileIndicator
          , OverrideProfilePrefix =  changes.OverrideProfilePrefix
          , Type1Hash =  changes.Type1Hash
          , dss_update_time = @v_current_datetime
    FROM 
    (
        SELECT ProviderAgreement_NONDV.SourceID    SourceID
             , ProviderAgreement_NONDV.SourceDescription    SourceDescription
             , ProviderAgreement_NONDV.ProviderAgreementID    ProviderAgreementID
             , ProviderAgreement_NONDV.AgreementEffFromDt    AgreementEffFromDt
             , ProviderAgreement_NONDV.AgreementTermDt    AgreementTermDt
             , ProviderAgreement_NONDV.AgreementCategory    AgreementCategory
             , ProviderAgreement_NONDV.AgreementDescription    AgreementDescription
             , ProviderAgreement_NONDV.AgreementTypeDesc    AgreementTypeDesc
             , ProviderAgreement_NONDV.AgreementType    AgreementType
             , ProviderAgreement_NONDV.RiskWithholdPercent    RiskWithholdPercent
             , ProviderAgreement_NONDV.RiskWithholdIndicator    RiskWithholdIndicator
             , ProviderAgreement_NONDV.InpatientPriceIndicator    InpatientPriceIndicator
             , ProviderAgreement_NONDV.OutpatientPriceIndicator    OutpatientPriceIndicator
             , ProviderAgreement_NONDV.HospitalOutlierIndicator    HospitalOutlierIndicator
             , ProviderAgreement_NONDV.HospitalOutlierDiscountPercent    HospitalOutlierDiscountPercent
             , ProviderAgreement_NONDV.HospitalOutlierLimit    HospitalOutlierLimit
             , ProviderAgreement_NONDV.StraightDiscountPercent    StraightDiscountPercent
             , ProviderAgreement_NONDV.StraightDiscountIndicator    StraightDiscountIndicator
             , ProviderAgreement_NONDV.StraightDiscountMethod    StraightDiscountMethod
             , ProviderAgreement_NONDV.SupplementalDiscountPercent    SupplementalDiscountPercent
             , ProviderAgreement_NONDV.ServiceDefinitionPrefix    ServiceDefinitionPrefix
             , ProviderAgreement_NONDV.AmbulatorySurgeryPrefix    AmbulatorySurgeryPrefix
             , ProviderAgreement_NONDV.PreauthPrefix    PreauthPrefix
             , ProviderAgreement_NONDV.StoplossPrefix    StoplossPrefix
             , ProviderAgreement_NONDV.ExclusionPrefix    ExclusionPrefix
             , ProviderAgreement_NONDV.DRGPrefix    DRGPrefix
             , ProviderAgreement_NONDV.RoomtypePrefix    RoomtypePrefix
             , ProviderAgreement_NONDV.PricingProfileIndicator    PricingProfileIndicator
             , ProviderAgreement_NONDV.OverrideProfilePrefix    OverrideProfilePrefix
             , ProviderAgreement_NONDV.NKHash    NKHash
             , ProviderAgreement_NONDV.Type1Hash    Type1Hash
        FROM HDSVault.biz.ProviderAgreement_NONDV ProviderAgreement_NONDV
        EXCEPT
        SELECT dimProviderAgreement_base.SourceID    SourceID
             , dimProviderAgreement_base.SourceDescription    SourceDescription
             , dimProviderAgreement_base.ProviderAgreementID    ProviderAgreementID
             , dimProviderAgreement_base.AgreementEffFromDt    AgreementEffFromDt
             , dimProviderAgreement_base.AgreementTermDt    AgreementTermDt
             , dimProviderAgreement_base.AgreementCategory    AgreementCategory
             , dimProviderAgreement_base.AgreementDescription    AgreementDescription
             , dimProviderAgreement_base.AgreementTypeDesc    AgreementTypeDesc
             , dimProviderAgreement_base.AgreementType    AgreementType
             , dimProviderAgreement_base.RiskWithholdPercent    RiskWithholdPercent
             , dimProviderAgreement_base.RiskWithholdIndicator    RiskWithholdIndicator
             , dimProviderAgreement_base.InpatientPriceIndicator    InpatientPriceIndicator
             , dimProviderAgreement_base.OutpatientPriceIndicator    OutpatientPriceIndicator
             , dimProviderAgreement_base.HospitalOutlierIndicator    HospitalOutlierIndicator
             , dimProviderAgreement_base.HospitalOutlierDiscountPercent    HospitalOutlierDiscountPercent
             , dimProviderAgreement_base.HospitalOutlierLimit    HospitalOutlierLimit
             , dimProviderAgreement_base.StraightDiscountPercent    StraightDiscountPercent
             , dimProviderAgreement_base.StraightDiscountIndicator    StraightDiscountIndicator
             , dimProviderAgreement_base.StraightDiscountMethod    StraightDiscountMethod
             , dimProviderAgreement_base.SupplementalDiscountPercent    SupplementalDiscountPercent
             , dimProviderAgreement_base.ServiceDefinitionPrefix    ServiceDefinitionPrefix
             , dimProviderAgreement_base.AmbulatorySurgeryPrefix    AmbulatorySurgeryPrefix
             , dimProviderAgreement_base.PreauthPrefix    PreauthPrefix
             , dimProviderAgreement_base.StoplossPrefix    StoplossPrefix
             , dimProviderAgreement_base.ExclusionPrefix    ExclusionPrefix
             , dimProviderAgreement_base.DRGPrefix    DRGPrefix
             , dimProviderAgreement_base.RoomtypePrefix    RoomtypePrefix
             , dimProviderAgreement_base.PricingProfileIndicator    PricingProfileIndicator
             , dimProviderAgreement_base.OverrideProfilePrefix    OverrideProfilePrefix
             , dimProviderAgreement_base.NKHash    NKHash
             , dimProviderAgreement_base.Type1Hash    Type1Hash
        FROM HDSVault.biz.dimProviderAgreement_base
        WHERE dimProviderAgreement_base.dss_current_flag = 'Y'
    ) AS changes
    WHERE dimProviderAgreement_base.SourceID = changes.SourceID
    AND   dimProviderAgreement_base.ProviderAgreementID = changes.ProviderAgreementID
    AND   dimProviderAgreement_base.AgreementEffFromDt = changes.AgreementEffFromDt
    AND   dimProviderAgreement_base.dss_current_flag = 'Y'
    
    SELECT @v_row_count = @@ROWCOUNT
    
    SET @v_update_count = @v_update_count + @v_row_count

    SET @v_step = 500

    --==========================================================================
    -- Insert new records
    --==========================================================================
    INSERT INTO HDSVault.biz.dimProviderAgreement_base WITH ( TABLOCK )
    ( SourceID
    , SourceDescription
    , ProviderAgreementID
    , AgreementEffFromDt
    , AgreementTermDt
    , AgreementCategory
    , AgreementDescription
    , AgreementTypeDesc
    , AgreementType
    , RiskWithholdPercent
    , RiskWithholdIndicator
    , InpatientPriceIndicator
    , OutpatientPriceIndicator
    , HospitalOutlierIndicator
    , HospitalOutlierDiscountPercent
    , HospitalOutlierLimit
    , StraightDiscountPercent
    , StraightDiscountIndicator
    , StraightDiscountMethod
    , SupplementalDiscountPercent
    , ServiceDefinitionPrefix
    , AmbulatorySurgeryPrefix
    , PreauthPrefix
    , StoplossPrefix
    , ExclusionPrefix
    , DRGPrefix
    , RoomtypePrefix
    , PricingProfileIndicator
    , OverrideProfilePrefix
    , NKHash
    , Type1Hash
    , dss_start_date
    , dss_end_date
    , dss_current_flag
    , dss_version
    , dss_create_time
    , dss_update_time
    )
    SELECT 
           ProviderAgreement_NONDV.SourceID
         , ProviderAgreement_NONDV.SourceDescription
         , ProviderAgreement_NONDV.ProviderAgreementID
         , ProviderAgreement_NONDV.AgreementEffFromDt
         , ProviderAgreement_NONDV.AgreementTermDt
         , ProviderAgreement_NONDV.AgreementCategory
         , ProviderAgreement_NONDV.AgreementDescription
         , ProviderAgreement_NONDV.AgreementTypeDesc
         , ProviderAgreement_NONDV.AgreementType
         , ProviderAgreement_NONDV.RiskWithholdPercent
         , ProviderAgreement_NONDV.RiskWithholdIndicator
         , ProviderAgreement_NONDV.InpatientPriceIndicator
         , ProviderAgreement_NONDV.OutpatientPriceIndicator
         , ProviderAgreement_NONDV.HospitalOutlierIndicator
         , ProviderAgreement_NONDV.HospitalOutlierDiscountPercent
         , ProviderAgreement_NONDV.HospitalOutlierLimit
         , ProviderAgreement_NONDV.StraightDiscountPercent
         , ProviderAgreement_NONDV.StraightDiscountIndicator
         , ProviderAgreement_NONDV.StraightDiscountMethod
         , ProviderAgreement_NONDV.SupplementalDiscountPercent
         , ProviderAgreement_NONDV.ServiceDefinitionPrefix
         , ProviderAgreement_NONDV.AmbulatorySurgeryPrefix
         , ProviderAgreement_NONDV.PreauthPrefix
         , ProviderAgreement_NONDV.StoplossPrefix
         , ProviderAgreement_NONDV.ExclusionPrefix
         , ProviderAgreement_NONDV.DRGPrefix
         , ProviderAgreement_NONDV.RoomtypePrefix
         , ProviderAgreement_NONDV.PricingProfileIndicator
         , ProviderAgreement_NONDV.OverrideProfilePrefix
         , ProviderAgreement_NONDV.NKHash
         , ProviderAgreement_NONDV.Type1Hash
         , CASE WHEN vers.SourceID IS NULL
                THEN CAST('01-JAN-1900' AS datetime)
                ELSE @v_current_date
           END
         , CAST('31-DEC-2999' AS datetime)
         , 'Y'
         , CASE WHEN vers.SourceID IS NULL
                THEN 1
                ELSE vers.dss_version + 1
                END
         , @v_current_datetime
         , @v_current_datetime
    FROM HDSVault.biz.ProviderAgreement_NONDV ProviderAgreement_NONDV
    LEFT OUTER JOIN (
          SELECT SourceID
               , ProviderAgreementID
               , AgreementEffFromDt
               , MAX(dss_version) dss_version
          FROM HDSVault.biz.dimProviderAgreement_base dimProviderAgreement_base
          GROUP BY SourceID
                 , ProviderAgreementID
                 , AgreementEffFromDt
    ) AS vers
    ON    ProviderAgreement_NONDV.SourceID = vers.SourceID
    AND   ProviderAgreement_NONDV.ProviderAgreementID = vers.ProviderAgreementID
    AND   ProviderAgreement_NONDV.AgreementEffFromDt = vers.AgreementEffFromDt
    EXCEPT
    SELECT dimProviderAgreement_base.SourceID    SourceID
             , dimProviderAgreement_base.SourceDescription    SourceDescription
             , dimProviderAgreement_base.ProviderAgreementID    ProviderAgreementID
             , dimProviderAgreement_base.AgreementEffFromDt    AgreementEffFromDt
             , dimProviderAgreement_base.AgreementTermDt    AgreementTermDt
             , dimProviderAgreement_base.AgreementCategory    AgreementCategory
             , dimProviderAgreement_base.AgreementDescription    AgreementDescription
             , dimProviderAgreement_base.AgreementTypeDesc    AgreementTypeDesc
             , dimProviderAgreement_base.AgreementType    AgreementType
             , dimProviderAgreement_base.RiskWithholdPercent    RiskWithholdPercent
             , dimProviderAgreement_base.RiskWithholdIndicator    RiskWithholdIndicator
             , dimProviderAgreement_base.InpatientPriceIndicator    InpatientPriceIndicator
             , dimProviderAgreement_base.OutpatientPriceIndicator    OutpatientPriceIndicator
             , dimProviderAgreement_base.HospitalOutlierIndicator    HospitalOutlierIndicator
             , dimProviderAgreement_base.HospitalOutlierDiscountPercent    HospitalOutlierDiscountPercent
             , dimProviderAgreement_base.HospitalOutlierLimit    HospitalOutlierLimit
             , dimProviderAgreement_base.StraightDiscountPercent    StraightDiscountPercent
             , dimProviderAgreement_base.StraightDiscountIndicator    StraightDiscountIndicator
             , dimProviderAgreement_base.StraightDiscountMethod    StraightDiscountMethod
             , dimProviderAgreement_base.SupplementalDiscountPercent    SupplementalDiscountPercent
             , dimProviderAgreement_base.ServiceDefinitionPrefix    ServiceDefinitionPrefix
             , dimProviderAgreement_base.AmbulatorySurgeryPrefix    AmbulatorySurgeryPrefix
             , dimProviderAgreement_base.PreauthPrefix    PreauthPrefix
             , dimProviderAgreement_base.StoplossPrefix    StoplossPrefix
             , dimProviderAgreement_base.ExclusionPrefix    ExclusionPrefix
             , dimProviderAgreement_base.DRGPrefix    DRGPrefix
             , dimProviderAgreement_base.RoomtypePrefix    RoomtypePrefix
             , dimProviderAgreement_base.PricingProfileIndicator    PricingProfileIndicator
             , dimProviderAgreement_base.OverrideProfilePrefix    OverrideProfilePrefix
             , dimProviderAgreement_base.NKHash    NKHash
             , dimProviderAgreement_base.Type1Hash    Type1Hash
           , @v_current_date
           , CAST('31-DEC-2999' AS datetime)
           , 'Y'
           , dss_version + 1
           , @v_current_datetime
           , @v_current_datetime
    FROM HDSVault.biz.dimProviderAgreement_base
    WHERE dimProviderAgreement_base.dss_current_flag = 'Y'
    
    SELECT @v_row_count = @@ROWCOUNT
    
    SET @v_insert_count = @v_insert_count + @v_row_count


    SET @v_step = 600

    --==========================================================================
    -- Final settings
    --==========================================================================

    -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
    EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
        @v_insert_count, @v_update_count, 0, 0, 0, 0, 0 
    
    SET @v_step = 700
    
    -- Work out the return message

    SET @p_status = 1
    SET @p_return_msg = 'dimProviderAgreement_base updated. '
        + CONVERT(varchar,@v_insert_count) + ' records added. '
        + CONVERT(varchar,@v_update_count) + ' records updated. '
    
    END TRY
    BEGIN CATCH
        SET @p_status = -2
        SET @p_return_msg = SUBSTRING('dimProviderAgreement_base update FAILED'
            + '. Step ' + CONVERT(varchar,ISNULL(@v_step,0))
            + '. Error Num: ' + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0)) 
            + '. Error Msg: ' + ERROR_MESSAGE(),1,1023) 
    END CATCH
    IF XACT_STATE() <> 0
    BEGIN
        ROLLBACK TRANSACTION
    END
    RETURN 0
