USE [HDSVault]
GO
/****** Object:  StoredProcedure [biz].[update_ProviderAgreement_NONDV]    Script Date: 10/9/2025 5:01:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--==============================================================================
-- DBMS Name        :    SQL Server
-- Procedure Name   :    update_ProviderAgreement_NONDV
-- Template         :    bci_wsl_sqlserver_proc_dv_stage_collation
-- Template Version :    8.5.1.0
-- Description      :    Update the Stage Table table ProviderAgreement_NONDV
-- Generated by     :    WhereScape RED Version 8.6.6.1 (build 220216-231917)
-- Generated for    :    Blue Cross Of Idaho
-- Generated on     :    Wednesday, March 15, 2023 at 13:10:45
-- Author           :    Shreya Thacker
--==============================================================================
-- Notes / History
--
ALTER PROCEDURE [biz].[update_ProviderAgreement_NONDV]
  @p_sequence         INTEGER
, @p_job_name         VARCHAR(256)
, @p_task_name        VARCHAR(256)
, @p_job_id           INTEGER
, @p_task_id          INTEGER
, @p_return_msg       VARCHAR(1024) OUTPUT
, @p_status           INTEGER       OUTPUT

AS
  SET XACT_ABORT OFF  -- Turn off auto abort on errors
  SET NOCOUNT ON      -- Turn off row count messages

  --=====================================================
  -- Control variables used in most programs
  --=====================================================

  DECLARE
    @v_msgtext               VARCHAR(1024) -- Text for audit_trail
  , @v_sql                   NVARCHAR(255) -- Text for SQL statements
  , @v_step                  INTEGER       -- return code
  , @v_insert_count          INTEGER       -- no of records inserted

  , @v_return_status         INTEGER       -- Update result status
  , @v_current_datetime      DATETIME      -- Used for date insert

  --=====================================================
  -- General Variables
  --=====================================================



  --=====================================================
  -- MAIN
  --=====================================================
  SET @v_step = 100

  SET @v_insert_count = 0
  SET @v_current_datetime = GETDATE()

  BEGIN TRY

    --=====================================================
    -- Delete existing records
    --=====================================================
    SET @v_step = 200

    SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.ProviderAgreement_NONDV';
    EXEC @v_return_status = sp_executesql @v_sql

    --=====================================================
    -- Insert new records
    --=====================================================
    SET @v_step = 300

    BEGIN TRANSACTION

      INSERT INTO HDSVault.biz.ProviderAgreement_NONDV WITH (TABLOCK) 
      ( SourceID
      , SourceDescription
      , ProviderAgreementID
      , AgreementEffFromDt
      , AgreementTermDt
      , AgreementCategory
      , AgreementDescription
      , AgreementTypeDesc
      , AgreementType
      , RiskWithholdPercent
      , RiskWithholdIndicator
      , InpatientPriceIndicator
      , OutpatientPriceIndicator
      , HospitalOutlierIndicator
      , HospitalOutlierDiscountPercent
      , HospitalOutlierLimit
      , StraightDiscountPercent
      , StraightDiscountIndicator
      , StraightDiscountMethod
      , SupplementalDiscountPercent
      , ServiceDefinitionPrefix
      , AmbulatorySurgeryPrefix
      , PreauthPrefix
      , StoplossPrefix
      , ExclusionPrefix
      , DRGPrefix
      , RoomtypePrefix
      , PricingProfileIndicator
      , OverrideProfilePrefix
      , NKHash
      , Type1Hash
      , dss_create_time
      , dss_update_time)
      SELECT DISTINCT  ProviderAgreement_NONDV1.SourceID AS SourceID 
           , ProviderAgreement_NONDV1.SourceDescription AS SourceDescription 
           , ProviderAgreement_NONDV1.ProviderAgreementID AS ProviderAgreementID 
           , ProviderAgreement_NONDV1.AgreementEffFromDt AS AgreementEffFromDt 
           , ProviderAgreement_NONDV1.AgreementTermDt AS AgreementTermDt 
           , ProviderAgreement_NONDV1.AgreementCategory AS AgreementCategory 
           , ProviderAgreement_NONDV1.AgreementDescription AS AgreementDescription 
           , ProviderAgreement_NONDV1.AgreementTypeDesc AS AgreementTypeDesc 
           , ProviderAgreement_NONDV1.AgreementType AS AgreementType 
           , ProviderAgreement_NONDV1.RiskWithholdPercent AS RiskWithholdPercent 
           , ProviderAgreement_NONDV1.RiskWithholdIndicator AS RiskWithholdIndicator 
           , ProviderAgreement_NONDV1.InpatientPriceIndicator AS InpatientPriceIndicator 
           , ProviderAgreement_NONDV1.OutpatientPriceIndicator AS OutpatientPriceIndicator 
           , ProviderAgreement_NONDV1.HospitalOutlierIndicator AS HospitalOutlierIndicator 
           , ProviderAgreement_NONDV1.HospitalOutlierDiscountPercent AS HospitalOutlierDiscountPercent 
           , ProviderAgreement_NONDV1.HospitalOutlierLimit AS HospitalOutlierLimit 
           , ProviderAgreement_NONDV1.StraightDiscountPercent AS StraightDiscountPercent 
           , ProviderAgreement_NONDV1.StraightDiscountIndicator AS StraightDiscountIndicator 
           , ProviderAgreement_NONDV1.StraightDiscountMethod AS StraightDiscountMethod 
           , ProviderAgreement_NONDV1.SupplementalDiscountPercent AS SupplementalDiscountPercent 
           , ProviderAgreement_NONDV1.ServiceDefinitionPrefix AS ServiceDefinitionPrefix 
           , ProviderAgreement_NONDV1.AmbulatorySurgeryPrefix AS AmbulatorySurgeryPrefix 
           , ProviderAgreement_NONDV1.PreauthPrefix AS PreauthPrefix 
           , ProviderAgreement_NONDV1.StoplossPrefix AS StoplossPrefix 
           , ProviderAgreement_NONDV1.ExclusionPrefix AS ExclusionPrefix 
           , ProviderAgreement_NONDV1.DRGPrefix AS DRGPrefix 
           , ProviderAgreement_NONDV1.RoomtypePrefix AS RoomtypePrefix 
           , ProviderAgreement_NONDV1.PricingProfileIndicator AS PricingProfileIndicator 
           , ProviderAgreement_NONDV1.OverrideProfilePrefix AS OverrideProfilePrefix 
           , HASHBYTES('sha1',
               RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.SourceID AS VARCHAR(MAX)),'null')) +'||'+
               RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.ProviderAgreementID AS VARCHAR(MAX)),'null')) +'||'+
               RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AgreementEffFromDt AS VARCHAR(MAX)),'null'))
               ) AS NKHash 
           , HASHBYTES('sha1',
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.SourceDescription AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AgreementTermDt AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AgreementCategory AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AgreementDescription AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AgreementTypeDesc AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AgreementType AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.RiskWithholdPercent AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.RiskWithholdIndicator AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.InpatientPriceIndicator AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.OutpatientPriceIndicator AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.HospitalOutlierIndicator AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.HospitalOutlierDiscountPercent AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.HospitalOutlierLimit AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.StraightDiscountPercent AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.StraightDiscountIndicator AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.StraightDiscountMethod AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.SupplementalDiscountPercent AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.ServiceDefinitionPrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.AmbulatorySurgeryPrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.PreauthPrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.StoplossPrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.ExclusionPrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.DRGPrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.RoomtypePrefix AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.PricingProfileIndicator AS VARCHAR(MAX)),'null'))) +'||'+
               LTRIM(RTRIM(COALESCE(CAST(ProviderAgreement_NONDV1.OverrideProfilePrefix AS VARCHAR(MAX)),'null')))
               ) AS Type1Hash 
           , @v_current_datetime AS dss_create_time 
           , @v_current_datetime AS dss_update_time 
      FROM HDSVault.biz.ProviderAgreement_NONDV1 ProviderAgreement_NONDV1
      ;

      SELECT @v_insert_count = @@ROWCOUNT

    COMMIT

    --=====================================================
    -- All Done report the results
    --=====================================================
    SET @v_step = 400

    -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
    EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
     @v_insert_count,0,0,0,0,0,0

    SET @p_status = 1
    SET @p_return_msg = 'ProviderAgreement_NONDV updated. '
      + CONVERT(VARCHAR,@v_insert_count) + ' new records.'

    RETURN 0

  END TRY
  BEGIN CATCH

    SET @p_status = -2
    SET @p_return_msg = SUBSTRING('update_ProviderAgreement_NONDV FAILED with error '
      + CONVERT(VARCHAR,ISNULL(ERROR_NUMBER(),0))
      + ' Step ' + CONVERT(VARCHAR,ISNULL(@v_step,0))
      + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)

  END CATCH
  IF XACT_STATE() <> 0
  BEGIN
    ROLLBACK TRANSACTION
  END

  RETURN 0
