USE [HDSVault]
GO
/****** Object:  Table [biz].[r_COBProfileLookup]    Script Date: 10/20/2025 4:55:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [biz].[r_COBProfileLookup](
	[SourceID] [varchar](50) NULL,
	[DrugIsBCITertiary] [varchar](25) NOT NULL,
	[MEME_CK] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[GRGR_ID] [varchar](8) NULL,
	[SBSB_ID] [varchar](9) NULL,
	[MEME_SFX] [int] NULL,
	[GRGR_CK] [int] NULL,
	[SBSB_CK] [int] NULL,
	[MEME_FIRST_NAME] [varchar](50) NULL,
	[MCRE_ID_Medical] [varchar](10) NULL,
	[MCRE_ID_Dental] [varchar](10) NULL,
	[MedicalCoverage] [varchar](3) NULL,
	[HasMedicalCOB] [varchar](3) NULL,
	[MedicalCOBOrder] [varchar](10) NULL,
	[MedicalIsBCIPrimary] [varchar](25) NOT NULL,
	[MedicalIsBCISecondary] [varchar](25) NOT NULL,
	[MedicalIsBCITertiary] [varchar](25) NOT NULL,
	[DentalCoverage] [varchar](3) NULL,
	[HasDentalCOB] [varchar](3) NULL,
	[DentalCOBOrder] [varchar](10) NULL,
	[DentalIsBCIPrimary] [varchar](25) NOT NULL,
	[DentalIsBCISecondary] [varchar](25) NOT NULL,
	[DentalIsBCITertiary] [varchar](25) NOT NULL,
	[DrugCoverage] [varchar](3) NULL,
	[HasDrugCOB] [varchar](3) NULL,
	[DrugCOBOrder] [varchar](10) NULL,
	[DrugIsBCIPrimary] [varchar](25) NOT NULL,
	[DrugIsBCISecondary] [varchar](25) NOT NULL,
	[Medical2Blues] [varchar](3) NULL,
	[Dental2Blues] [varchar](3) NULL,
	[Drug2Blues] [varchar](3) NULL,
	[CreateDate] [datetime] NULL,
	[dss_record_source] [varchar](255) NULL,
	[dss_load_date] [datetime] NULL,
	[dss_create_time] [datetime] NULL,
	[dss_update_time] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [biz].[spCOBProfileLookup]    Script Date: 10/20/2025 4:55:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --===========================================================
 -- Author:		Dan Brickey, Brian Dix
 -- Create date: 9/9/2021
 -- Description:	COB Member Lookup
 -- Runtime: 00:10:00
 -- EXEC [psa].[spCOBProfileLookup]
 --===========================================================
CREATE PROCEDURE [biz].[spCOBProfileLookup]

AS
BEGIN

	----------------------------------------------------------------------------------
	-- Define lists of COB MCRE_ID Codes to detect two blues coverage and Medicare Part D
	----------------------------------------------------------------------------------
	DECLARE @TwoBluesMCREList AS VARCHAR(500) =
		'^0908^0948^0958^1782^0142^MA1^MA2^MA3^0003^1057^3000^3048^2063^1133^3056^5018^1149^1078^0750^0999^1167^0808^3052^5058^1788^0825^' +
		'1229^2011^1549^1169^1954^1317^1068^1431^1284^0004^1295^1142^0895^0676^1270^1785^1083^1780^0045^1150^BCI1^BCI2^BCI3^' +
		'0054^0729^0391^0261^1269^1238^0102^0623^0710^0345^0516^0277^0881^0915^0998^0879^0507^4047^3058^1350^' +
		'FEP1^FEP2^FEP3^964^0155^Host1^Host2^Host3^0916^974^1189^1129^0001^2048^'

	DECLARE @MedicarePartD_Primary AS VARCHAR(500) = '^COBLTRSNT^COBLTRSND^MEDPARTD^NO COB^COBINV^'

	DECLARE @MedicarePartD_Secondary AS VARCHAR(500) = '^0948^BCI2^0958^BCI3^COBLTRSNT^COBLTRSND^FEP2^Host2^MA2^MEDPARTD^NO COB^COBINV^'

	----------------------------------------------------------------------------------
	-- Get list of keys and discreet date ranges
	----------------------------------------------------------------------------------

	DROP TABLE IF EXISTS Staging.load.COBProfileLookup

	CREATE TABLE Staging.load.COBProfileLookup(
		SourceID VARCHAR(50) COLLATE Latin1_General_Bin NULL,
		MEME_CK INT NOT NULL,
		StartDate datetime NOT NULL, -- Start
		EndDate datetime NOT NULL, -- End
		GRGR_ID VARCHAR(8) COLLATE Latin1_General_Bin NULL,
		SBSB_ID VARCHAR(9) COLLATE Latin1_General_Bin NULL,
		MEME_SFX INT NULL,
		GRGR_CK INT NULL,
		SBSB_CK INT NULL,
		MEME_FIRST_NAME VARCHAR(50) COLLATE Latin1_General_Bin NULL,
		MCRE_ID_Medical VARCHAR(10) COLLATE Latin1_General_Bin NULL,
		MCRE_ID_Dental VARCHAR(10) COLLATE Latin1_General_Bin NULL,
		MedicalCoverage VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		HasMedicalCOB VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		MedicalCOBOrder VARCHAR(10) COLLATE Latin1_General_Bin NULL,
		DentalCoverage VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		HasDentalCOB VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		DentalCOBOrder VARCHAR(10) COLLATE Latin1_General_Bin NULL,
		DrugCoverage VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		HasDrugCOB VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		DrugCOBOrder VARCHAR(10) COLLATE Latin1_General_Bin NULL,
		Medical2Blues VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		Dental2Blues VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		Drug2Blues VARCHAR(3) COLLATE Latin1_General_Bin NULL,
		dss_record_source VARCHAR(255) COLLATE Latin1_General_Bin NULL,
		CreateDate datetime NULL	 
	)
	
	CREATE INDEX DateRanges_PK ON Staging.load.COBProfileLookup (SourceID,MEME_CK, StartDate) 
	CREATE INDEX DateRanges_Mem ON Staging.load.COBProfileLookup (SourceID,GRGR_ID,SBSB_ID,MEME_SFX, StartDate) 	

	--Create table of discrete date range combinations from Episode history data
	INSERT INTO Staging.load.COBProfileLookup
	SELECT 
		r.SourceID SourceID,
		r.MEME_CK MEME_CK,
		r.FromDate StartDate, -- Start
		r.ThruDate EndDate, -- End
		NULL GRGR_ID,
		NULL SBSB_ID,
		NULL MEME_SFX,
		NULL GRGR_CK,
		NULL SBSB_CK,
		NULL MEME_FIRST_NAME,
		NULL MCRE_ID_Medical,
		NULL MCRE_ID_Dental ,
		'No' MedicalCoverage,
		'No' HasMedicalCOB,
		'No' MedicalCOBOrder,
		'No' DentalCoverage,
		'No' HasDentalCOB,
		'No' DentalCOBOrder,
		'No' DrugCoverage,
		'No' HasDrugCOB,
		'No' DrugCOBOrder,
		'No' Medical2Blues,
		'No' Dental2Blues,
		'No' Drug2Blues,
		NULL dss_record_source,
		GETDATE() CreateDate
	FROM (
		SELECT  
			ROW_NUMBER() OVER (PARTITION BY FromDates.SourceID,FromDates.MEME_CK, FromDate ORDER BY DATEDIFF(DAY,FromDate, ThruDate) ASC) AS RowNum
			,FromDates.SourceID
			,FromDates.MEME_CK
			,FromDate
			,ThruDate
			,DATEDIFF(DAY,FromDate, ThruDate) As DaysInterval 
		FROM  
			(
			SELECT mepe.bkcc_member SourceID, mepe.MEME_CK,mepe.MEPE_EFF_DT FromDate 
			FROM HDSVault.biz.v_membereligibilityextended_combined_current mepe 
			WHERE mepe.CSPD_CAT IN ('M','D') AND mepe.MEPE_ELIG_IND = 'Y' 
			--AND mepe.MEME_CK IN (62431407,69653051,74639450) 
				UNION
			SELECT mecb.bkcc_member SourceID,mecb.MEME_CK,mecb.MECB_EFF_DT FromDate 
			FROM HDSVault.biz.v_membercobextended_combined_current mecb 
			--WHERE mecb.MEME_CK IN (62431407,69653051,74639450)
				UNION
			---- Day after a thru date could be a from date
			SELECT mepe.bkcc_member SourceID, mepe.MEME_CK,CASE WHEN mepe.MEPE_TERM_DT = '12/31/9999' THEN mepe.MEPE_TERM_DT ELSE DATEADD(DAY,1,mepe.MEPE_TERM_DT) END FromDate 
			FROM HDSVault.biz.v_membereligibilityextended_combined_current mepe 
			WHERE mepe.CSPD_CAT IN ('M','D') AND mepe.MEPE_ELIG_IND = 'Y' 
			--AND mepe.MEME_CK IN (62431407,69653051,74639450)
				UNION
			SELECT mecb.bkcc_member SourceID,mecb.MEME_CK,CASE WHEN mecb.MECB_TERM_DT = '12/31/9999' THEN mecb.MECB_TERM_DT ELSE DATEADD(DAY,1,mecb.MECB_TERM_DT) END FromDate 
			FROM HDSVault.biz.v_membercobextended_combined_current mecb 
			--WHERE mecb.MEME_CK IN (62431407,69653051,74639450)
			) FromDates
			
			INNER JOIN (
				SELECT mepe.bkcc_member SourceID,mepe.MEME_CK,mepe.MEPE_TERM_DT ThruDate 
				FROM HDSVault.biz.v_membereligibilityextended_combined_current mepe 
				WHERE mepe.CSPD_CAT IN ('M','D') AND mepe.MEPE_ELIG_IND = 'Y'
				--AND mepe.MEME_CK IN (62431407,69653051,74639450)
					UNION
				SELECT mecb.bkcc_member SourceID,mecb.MEME_CK,mecb.MECB_TERM_DT ThruDate 
				FROM HDSVault.biz.v_membercobextended_combined_current mecb 
				--WHERE mecb.MEME_CK IN (62431407,69653051,74639450)
					UNION
				---- Day before a from date could be a thru date
				SELECT mepe.bkcc_member SourceID,mepe.MEME_CK,DATEADD(DAY,-1,mepe.MEPE_EFF_DT) FromDate 
				FROM HDSVault.biz.v_membereligibilityextended_combined_current mepe 
				WHERE mepe.CSPD_CAT IN ('M','D') AND mepe.MEPE_ELIG_IND = 'Y' 
				--AND mepe.MEME_CK IN (62431407,69653051,74639450)
					UNION
				SELECT mecb.bkcc_member SourceID,mecb.MEME_CK,DATEADD(DAY,-1,mecb.MECB_EFF_DT) FromDate 
				FROM HDSVault.biz.v_membercobextended_combined_current mecb 
				--WHERE mecb.MEME_CK IN (62431407,69653051,74639450)
			) ThruDates
			ON ThruDates.MEME_CK = FromDates.MEME_CK
				AND ThruDates.SourceID = FromDates.SourceID
		WHERE 
			DATEDIFF(DAY,FromDate, ThruDate) >= 0
		) r

	WHERE r.RowNum = 1
		AND r.FromDate <> '9999-12-31' 
		AND r.FromDate <> '2200-01-01' 
		
	---- Join back to source tables to get other data elements
	-- Leave COB Flags set to default except when there is MECB data to overwrite
	UPDATE DateRanges
		SET
			GRGR_ID =  grgr.GRGR_ID
			,SBSB_ID = sbsb.SBSB_ID
			,MEME_SFX = meme.MEME_SFX
			,GRGR_CK = grgr.GRGR_CK
			,SBSB_CK = sbsb.SBSB_CK
			,MEME_FIRST_NAME = meme.MEME_FIRST_NAME
			,MedicalCoverage = CASE WHEN mepe_med.MEME_CK IS NOT NULL THEN 'Yes' ELSE DateRanges.MedicalCoverage END
			,MedicalCOBOrder = CASE WHEN mepe_med.MEME_CK IS NOT NULL THEN 'Primary' ELSE  DateRanges.MedicalCOBOrder END
			,DentalCoverage = CASE WHEN mepe_den.MEME_CK IS NOT NULL THEN 'Yes' ELSE  DateRanges.DentalCoverage END
			,DentalCOBOrder = CASE WHEN mepe_den.MEME_CK IS NOT NULL THEN 'Primary' ELSE  DateRanges.DentalCOBOrder END
			,DrugCoverage = CASE WHEN mepe_med.MEME_CK IS NOT NULL THEN 'Yes' ELSE  DateRanges.DrugCoverage END
			,DrugCOBOrder = CASE WHEN mepe_med.MEME_CK IS NOT NULL THEN 'Primary' ELSE  DateRanges.DrugCOBOrder END
      ,dss_record_source = meme.dss_record_source
	FROM Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_member_combined_current as meme
			ON meme.bkcc_member = DateRanges.SourceID
				AND meme.MEME_CK = DateRanges.MEME_CK
		JOIN HDSVault.biz.v_subscriber_combined_current as sbsb
			ON sbsb.bkcc_subscriber = meme.bkcc_member
				AND sbsb.SBSB_CK = meme.SBSB_CK
        JOIN HDSVault.biz.v_group_combined_current as grgr
			ON grgr.bkcc_group = meme.bkcc_member
				AND grgr.GRGR_CK = meme.GRGR_CK
        LEFT JOIN HDSVault.biz.v_membereligibilityextended_combined_current as mepe_med
			ON mepe_med.bkcc_member = meme.bkcc_member
				AND mepe_med.MEME_CK= meme.MEME_CK
                AND mepe_med.MEPE_ELIG_IND = 'Y'
				AND mepe_med.CSPD_CAT in ('M')
				AND DateRanges.StartDate BETWEEN mepe_med.MEPE_EFF_DT and mepe_med.MEPE_TERM_DT
        LEFT JOIN HDSVault.biz.v_membereligibilityextended_combined_current as mepe_den
			ON mepe_den.bkcc_member = meme.bkcc_member
				AND mepe_den.MEME_CK= meme.MEME_CK
                and mepe_den.MEPE_ELIG_IND = 'Y'
				AND mepe_den.CSPD_CAT in ('D')
				AND DateRanges.StartDate BETWEEN mepe_den.MEPE_EFF_DT and mepe_den.MEPE_TERM_DT

--------------------------------------------------------------------------------------------------
-- Default (Primary) Medical and Drug COB Rule
--------------------------------------------------------------------------------------------------
UPDATE DateRanges
SET 
	HasMedicalCOB = 'Yes'
	,MedicalCOBOrder = 'Primary'
	,HasDrugCOB = 'Yes'
	,DrugCOBOrder = 'Primary'
	,Medical2Blues = CASE WHEN PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
	,MCRE_ID_Medical = RTRIM(LTRIM(mecb.MCRE_ID))
FROM Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_membercobextended_combined_current as mecb
            ON DateRanges.MEME_CK = mecb.MEME_CK
               AND DateRanges.MedicalCoverage = 'Yes'
               AND mecb.MECB_INSUR_ORDER <> 'U'
               AND mecb.MECB_INSUR_TYPE <> 'D'
               AND PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@MedicarePartD_Primary) = 0 --MEDPARTD is drug only
               AND DateRanges.StartDate between mecb.MECB_EFF_DT and mecb.MECB_TERM_DT

--------------------------------------------------------------------------------------------------
-- Default (Primary) Dental COB Rule
--------------------------------------------------------------------------------------------------
UPDATE DateRanges
SET 
	 HasDentalCOB = 'Yes'
	,DentalCOBOrder = 'Primary'
	,Dental2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
	,MCRE_ID_Dental = RTRIM(LTRIM(mecb.MCRE_ID))
FROM Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_membercobextended_combined_current as mecb
            ON DateRanges.MEME_CK = mecb.MEME_CK
               AND DateRanges.DentalCoverage = 'Yes'
               AND mecb.MECB_INSUR_ORDER <> 'U'
               AND mecb.MECB_INSUR_TYPE = 'D'
               AND PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@MedicarePartD_Primary) = 0 --MEDPARTD is drug only
               AND DateRanges.StartDate between mecb.MECB_EFF_DT and mecb.MECB_TERM_DT

--------------------------------------------------------------------------------------------------
-- Secondary Medical and Drug COB Rule
--------------------------------------------------------------------------------------------------
UPDATE DateRanges
SET 
	MedicalCOBOrder = 'Secondary'
	,DrugCOBOrder = 'Secondary'
	,Medical2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
	,Drug2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
    ,MCRE_ID_Medical = COALESCE(DateRanges.MCRE_ID_Medical,RTRIM(LTRIM(mecb.MCRE_ID COLLATE Latin1_General_BIN)))
FROM  Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_membercobextended_combined_current as mecb
            ON DateRanges.MEME_CK = mecb.MEME_CK
               AND DateRanges.MedicalCoverage = 'Yes'
               AND mecb.MECB_INSUR_ORDER = 'P'
               AND mecb.MECB_INSUR_TYPE <> 'D'
               AND PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@MedicarePartD_Secondary) = 0 --MEDPARTD is drug only
               AND DateRanges.StartDate between mecb.MECB_EFF_DT and mecb.MECB_TERM_DT

--------------------------------------------------------------------------------------------------
-- Secondary Dental COB Rule
--------------------------------------------------------------------------------------------------
UPDATE DateRanges
SET 
	DentalCOBOrder = 'Secondary'
	,Dental2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
    ,MCRE_ID_Dental = COALESCE(DateRanges.MCRE_ID_Dental,RTRIM(LTRIM(mecb.MCRE_ID COLLATE Latin1_General_BIN)))
from  Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_membercobextended_combined_current as mecb
            ON DateRanges.MEME_CK = mecb.MEME_CK
               AND DateRanges.DentalCoverage = 'Yes'
               AND mecb.MECB_INSUR_ORDER = 'P'
               AND mecb.MECB_INSUR_TYPE = 'D'
               AND PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@MedicarePartD_Secondary) = 0 --MEDPARTD is drug only
               AND DateRanges.StartDate between mecb.MECB_EFF_DT and mecb.MECB_TERM_DT

--------------------------------------------------------------------------------------------------
-- Tertiary Medical and Drug COB Rule
--------------------------------------------------------------------------------------------------
UPDATE DateRanges
SET 
	MedicalCOBOrder = 'Tertiary'
	,DrugCOBOrder = 'Tertiary'
	,Medical2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
	,Drug2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
    ,MCRE_ID_Medical = COALESCE(DateRanges.MCRE_ID_Medical,RTRIM(LTRIM(mecb.MCRE_ID COLLATE Latin1_General_BIN)))
FROM  Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_membercobextended_combined_current as mecb
            ON DateRanges.MEME_CK = mecb.MEME_CK
               AND DateRanges.MedicalCoverage = 'Yes'
               AND mecb.MECB_INSUR_ORDER = 'S'
               AND mecb.MECB_INSUR_TYPE <> 'D'
               AND PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@MedicarePartD_Secondary) = 0 --MEDPARTD is drug only
               AND DateRanges.StartDate between mecb.MECB_EFF_DT and mecb.MECB_TERM_DT
WHERE DateRanges.MedicalCOBOrder = 'Secondary'

--------------------------------------------------------------------------------------------------
-- Tertiary Medical and Drug COB Rule
--------------------------------------------------------------------------------------------------
UPDATE DateRanges
SET 
	DentalCOBOrder = 'Tertiary'
	,Dental2Blues = CASE WHEN PATINDEX('%'+RTRIM(LTRIM(mecb.MCRE_ID))+'%',@TwoBluesMCREList) <> 0 THEN 'Yes' ELSE 'No' END
    ,MCRE_ID_Dental = COALESCE(DateRanges.MCRE_ID_Dental,RTRIM(LTRIM(mecb.MCRE_ID COLLATE Latin1_General_BIN)))
FROM  Staging.load.COBProfileLookup DateRanges
        JOIN HDSVault.biz.v_membercobextended_combined_current as mecb
            ON DateRanges.MEME_CK = mecb.MEME_CK
               AND DateRanges.DentalCoverage = 'Yes'
               AND mecb.MECB_INSUR_ORDER = 'S'
               AND mecb.MECB_INSUR_TYPE = 'D'
               AND PATINDEX('%^'+RTRIM(LTRIM(mecb.MCRE_ID))+'^%',@MedicarePartD_Secondary) = 0 --MEDPARTD is drug only
               AND DateRanges.StartDate between mecb.MECB_EFF_DT and mecb.MECB_TERM_DT
WHERE DateRanges.DentalCOBOrder = 'Secondary'

---------------------------------------------------------------------------------------
-- Identify records without drug coverage
---------------------------------------------------------------------------------------
UPDATE DateRanges
SET DrugCoverage = 'No'
    ,HasDrugCOB = 'No'
    ,DrugCOBOrder = 'No'
FROM  Staging.load.COBProfileLookup DateRanges
LEFT JOIN (
	SELECT DISTINCT
		meme.bkcc_member SourceID
		,meme.MEME_CK
		,mepe.MEPE_EFF_DT
		,mepe.MEPE_TERM_DT
	FROM 
		HDSVault.biz.v_member_combined_current as meme
		JOIN HDSVault.biz.v_membereligibilityextended_combined_current as mepe
			ON meme.bkcc_member = mepe.bkcc_member
				AND meme.MEME_CK = mepe.MEME_CK
				AND mepe.CSPD_CAT in ('M','R')
				AND mepe.MEPE_ELIG_IND = 'Y'
	) DrugElig
	ON DrugElig.SourceID = DateRanges.SourceID
		AND DrugElig.MEME_CK = DateRanges.MEME_CK
		AND DateRanges.StartDate BETWEEN DrugElig.MEPE_EFF_DT AND DrugElig.MEPE_TERM_DT
WHERE DrugElig.MEME_CK IS NULL

---------------------------------------------------------------------------------------
-- Remove records that have no eligibility (MECB dates without a MEPE record)
---------------------------------------------------------------------------------------
DELETE 
FROM Staging.load.COBProfileLookup
WHERE MedicalCoverage = 'No' AND DentalCoverage = 'No' AND DrugCoverage = 'No'

----------------------------------------------------------------------------------
-- Create and load persisted staging table
----------------------------------------------------------------------------------

TRUNCATE TABLE HDSVault.biz.r_COBProfileLookup

INSERT INTO HDSVault.biz.r_COBProfileLookup
           (SourceID
           ,DrugIsBCITertiary
           ,MEME_CK
           ,StartDate
           ,EndDate
           ,GRGR_ID
           ,SBSB_ID
           ,MEME_SFX
           ,GRGR_CK
           ,SBSB_CK
           ,MEME_FIRST_NAME
           ,MCRE_ID_Medical
           ,MCRE_ID_Dental
           ,MedicalCoverage
           ,HasMedicalCOB
           ,MedicalCOBOrder
           ,MedicalIsBCIPrimary
           ,MedicalIsBCISecondary
           ,MedicalIsBCITertiary
           ,DentalCoverage
           ,HasDentalCOB
           ,DentalCOBOrder
           ,DentalIsBCIPrimary
           ,DentalIsBCISecondary
           ,DentalIsBCITertiary
           ,DrugCoverage
           ,HasDrugCOB
           ,DrugCOBOrder
           ,DrugIsBCIPrimary
           ,DrugIsBCISecondary
           ,Medical2Blues
           ,Dental2Blues
           ,Drug2Blues
           ,CreateDate
           ,dss_record_source
           ,dss_load_date
           ,dss_create_time
           ,dss_update_time)
SELECT 
	SourceID
	,CASE WHEN [DrugCOBOrder] = 'Tertiary' THEN 'Yes' ELSE 'No' END DrugIsBCITertiary
	,MEME_CK
	,StartDate
	,EndDate
	,GRGR_ID
	,SBSB_ID
	,MEME_SFX
	,GRGR_CK
	,SBSB_CK
	,MEME_FIRST_NAME
	,MCRE_ID_Medical
	,MCRE_ID_Dental
	,MedicalCoverage
	,HasMedicalCOB
	,MedicalCOBOrder
	,CASE WHEN [MedicalCOBOrder] = 'Primary' THEN 'Yes' ELSE 'No' END MedicalIsBCIPrimary
	,CASE WHEN [MedicalCOBOrder] = 'Secondary' THEN 'Yes' ELSE 'No' END MedicalIsBCISecondary
	,CASE WHEN [MedicalCOBOrder] = 'Tertiary' THEN 'Yes' ELSE 'No' END  MedicalIsBCITertiary
	,DentalCoverage
	,HasDentalCOB
	,DentalCOBOrder
	,CASE WHEN [DentalCOBOrder] = 'Primary' THEN 'Yes' ELSE 'No' END DentalIsBCIPrimary
	,CASE WHEN [DentalCOBOrder] = 'Secondary' THEN 'Yes' ELSE 'No' END DentalIsBCISecondary
	,CASE WHEN [DentalCOBOrder] = 'Tertiary' THEN 'Yes' ELSE 'No' END DentalIsBCITertiary
	,DrugCoverage
	,HasDrugCOB
	,DrugCOBOrder
	,CASE WHEN [DrugCOBOrder] = 'Primary' THEN 'Yes' ELSE 'No' END  DrugIsBCIPrimary
	,CASE WHEN [DrugCOBOrder] = 'Secondary' THEN 'Yes' ELSE 'No' END DrugIsBCISecondary
	,Medical2Blues
	,Dental2Blues
	,Drug2Blues
	,CreateDate
	,dss_record_source dss_record_source
	,CreateDate dss_load_date
	,CreateDate dss_create_time
	,CreateDate dss_update_time
FROM Staging.load.COBProfileLookup

DROP TABLE IF EXISTS Staging.load.COBProfileLookup

END
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'MedicalIsBCIPrimary' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'r_COBProfileLookup', @level2type=N'COLUMN',@level2name=N'MedicalIsBCIPrimary'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Record source.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'r_COBProfileLookup', @level2type=N'COLUMN',@level2name=N'dss_record_source'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Load date.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'r_COBProfileLookup', @level2type=N'COLUMN',@level2name=N'dss_load_date'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was created in the data warehouse.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'r_COBProfileLookup', @level2type=N'COLUMN',@level2name=N'dss_create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was updated in the data warehouse.' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'TABLE',@level1name=N'r_COBProfileLookup', @level2type=N'COLUMN',@level2name=N'dss_update_time'
GO
