USE [HDSVault]
GO
/****** Object:  StoredProcedure [biz].[update_ProviderAgreement_NONDV1]    Script Date: 10/9/2025 5:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================================================
-- DBMS Name      :    SQL Server
-- Script Name    :    update_ProviderAgreement_NONDV1
-- Description    :    Build the staging table ProviderAgreement_NONDV1
-- Generated by   :    WhereScape RED Version 8.6.6.1 (build 220216-231917)
-- Generated for  :    Blue Cross Of Idaho
-- Generated on   :    Wednesday, March 15, 2023 at 13:18:16
-- Author         :    Shreya Thacker
-- =============================================================================
-- Notes / History
--
ALTER PROCEDURE [biz].[update_ProviderAgreement_NONDV1]
  @p_sequence         integer
, @p_job_name         varchar(256)
, @p_task_name        varchar(256)
, @p_job_id           integer
, @p_task_id          integer
, @p_return_msg       varchar(1024) OUTPUT
, @p_status           integer       OUTPUT
AS
    SET XACT_ABORT OFF  -- Turn off auto abort on errors
    SET NOCOUNT ON      -- Turn off row count messages

    --=====================================================
    -- Control variables used in most programs
    --=====================================================
    DECLARE
      @v_msgtext         varchar(1024) -- Text for audit_trail
    , @v_sql             nvarchar(255) -- Text for SQL statements
    , @v_set             integer       -- commit set
    , @v_analyze_flag    integer       -- analyze flag
    , @v_step            integer       -- return code
    , @v_update_count    integer       -- no of records updated
    , @v_insert_count    integer       -- no of records inserted
    , @v_count           integer       -- General counter
    , @v_db_code         varchar(10)   -- Database error code
    , @v_db_msg          varchar(1024) -- Database error message

    --=====================================================
    -- General Variables
    --=====================================================
    DECLARE
      @v_return_status   integer       -- Update result status
    , @v_getkey_status   integer       -- GetKey procedure status
    , @v_row_count       integer       -- General row count
    , @v_truncate_date   datetime      -- Used to set date to midnight
    , @v_dss_source_system_key integer -- Used for dimension joins
    , @v_dss_current_flag      char(1) -- Used for dimension joins
    , @v_dss_create_time       datetime  -- Used for date insert
    , @v_dss_update_time       datetime  -- Used for date insert

    

    --=====================================================
    -- MAIN
    --=====================================================
    SELECT @v_step = 100
    BEGIN TRY

    -- Set initial variable values
    SELECT
      @v_set          = 0
    , @v_analyze_flag = 0
    , @v_step         = 200
    , @v_update_count = 0
    , @v_insert_count = 0
    , @v_dss_source_system_key = 1
    , @v_dss_current_flag = 'Y'
    , @v_dss_create_time = GETDATE()
    , @v_dss_update_time = GETDATE()



    --=====================================================
    -- Delete all existing data from the staging table
    --=====================================================
    SET @v_sql = N'TRUNCATE TABLE HDSVault.biz.ProviderAgreement_NONDV1'
    EXEC @v_return_status = sp_executesql @v_sql

    --=======================================================
    -- Insert input records into ProviderAgreement_NONDV1
    --=======================================================
    SET @v_step = 300
    
    BEGIN TRANSACTION
    
    INSERT INTO HDSVault.biz.ProviderAgreement_NONDV1 WITH ( TABLOCK )
    (
        SourceID,
        SourceDescription,
        ProviderAgreementID,
        AgreementEffFromDt,
        AgreementTermDt,
        AgreementCategory,
        AgreementDescription,
        AgreementTypeDesc,
        AgreementType,
        RiskWithholdPercent,
        RiskWithholdIndicator,
        InpatientPriceIndicator,
        OutpatientPriceIndicator,
        HospitalOutlierIndicator,
        HospitalOutlierDiscountPercent,
        HospitalOutlierLimit,
        StraightDiscountPercent,
        StraightDiscountIndicator,
        StraightDiscountMethod,
        SupplementalDiscountPercent,
        ServiceDefinitionPrefix,
        AmbulatorySurgeryPrefix,
        PreauthPrefix,
        StoplossPrefix,
        ExclusionPrefix,
        DRGPrefix,
        RoomtypePrefix,
        PricingProfileIndicator,
        OverrideProfilePrefix,
        dss_create_time,
        dss_update_time
    )
    SELECT
        v_provideragreement_combined.SourceID,
        v_r_SourceBKCCLookup.SourceDescription,
        v_provideragreement_combined.ProviderAgreementID,
        v_provideragreement_combined.AgreementEffFromDt,
        v_provideragreement_combined.AgreementTermDt,
        v_provideragreement_combined.AgreementCategory,
        v_provideragreement_combined.AgreementDescription,
        max(v_provideragreement_combined.AgreementTypeDesc) AgreementTypeDesc,
        v_provideragreement_combined.AgreementType,
        v_provideragreement_combined.RiskWithholdPercent,
        v_provideragreement_combined.RiskWithholdIndicator,
        v_provideragreement_combined.InpatientPriceIndicator,
        v_provideragreement_combined.OutpatientPriceIndicator,
        v_provideragreement_combined.HospitalOutlierIndicator,
        v_provideragreement_combined.HospitalOutlierDiscountPercent,
        v_provideragreement_combined.HospitalOutlierLimit,
        v_provideragreement_combined.StraightDiscountPercent,
        v_provideragreement_combined.StraightDiscountIndicator,
        v_provideragreement_combined.StraightDiscountMethod,
        v_provideragreement_combined.SupplementalDiscountPercent,
        v_provideragreement_combined.ServiceDefinitionPrefix,
        v_provideragreement_combined.AmbulatorySurgeryPrefix,
        v_provideragreement_combined.PreauthPrefix,
        v_provideragreement_combined.StoplossPrefix,
        v_provideragreement_combined.ExclusionPrefix,
        v_provideragreement_combined.DRGPrefix,
        v_provideragreement_combined.RoomtypePrefix,
        v_provideragreement_combined.PricingProfileIndicator,
        v_provideragreement_combined.OverrideProfilePrefix,
        @v_dss_create_time,
        @v_dss_update_time
    FROM HDSVault.biz.v_provideragreement_combined v_provideragreement_combined
    
    LEFT JOIN HDSVault.biz.v_r_SourceBKCCLookup	v_r_SourceBKCCLookup
    	ON  v_provideragreement_combined.SourceID = v_r_SourceBKCCLookup.SourceID
    group by 
    		 v_provideragreement_combined.SourceID,
            v_r_SourceBKCCLookup.SourceDescription,
            v_provideragreement_combined.ProviderAgreementID,
            v_provideragreement_combined.AgreementEffFromDt,
            v_provideragreement_combined.AgreementTermDt,
            v_provideragreement_combined.AgreementCategory,
            v_provideragreement_combined.AgreementDescription,
          
            v_provideragreement_combined.AgreementType,
            v_provideragreement_combined.RiskWithholdPercent,
            v_provideragreement_combined.RiskWithholdIndicator,
            v_provideragreement_combined.InpatientPriceIndicator,
            v_provideragreement_combined.OutpatientPriceIndicator,
            v_provideragreement_combined.HospitalOutlierIndicator,
            v_provideragreement_combined.HospitalOutlierDiscountPercent,
            v_provideragreement_combined.HospitalOutlierLimit,
            v_provideragreement_combined.StraightDiscountPercent,
            v_provideragreement_combined.StraightDiscountIndicator,
            v_provideragreement_combined.StraightDiscountMethod,
            v_provideragreement_combined.SupplementalDiscountPercent,
            v_provideragreement_combined.ServiceDefinitionPrefix,
            v_provideragreement_combined.AmbulatorySurgeryPrefix,
            v_provideragreement_combined.PreauthPrefix,
            v_provideragreement_combined.StoplossPrefix,
            v_provideragreement_combined.ExclusionPrefix,
            v_provideragreement_combined.DRGPrefix,
            v_provideragreement_combined.RoomtypePrefix,
            v_provideragreement_combined.PricingProfileIndicator,
            v_provideragreement_combined.OverrideProfilePrefix

    SELECT @v_insert_count = @@ROWCOUNT
    
    COMMIT


    --=====================================================
    -- All Done report the results
    --=====================================================
    
    -- WsWrkTask(job,task,seq,insert,update,replace,delete,discard,reject,error)
    EXEC WherescapeHDS.dbo.WsWrkTask @p_job_id, @p_task_id, @p_sequence,
        @v_insert_count,@v_update_count,0,0,0,0,0

    -- Work out the return message
    SET @v_step = 400
    SET @p_status = 1
    SET @p_return_msg = 'ProviderAgreement_NONDV1 updated. '
        + CONVERT(varchar,@v_insert_count) + ' new records. '
        + CONVERT(varchar,@v_update_count) + ' records updated.'
        IF @v_update_count > 0
        BEGIN
            SET @p_return_msg = @p_return_msg + ' WARNING: Updated records indicate a non unique business key'
            SET @p_status = -1
        END

    RETURN 0
    END TRY
    BEGIN CATCH
        SET @p_status = -2
        SET @p_return_msg = SUBSTRING('ProviderAgreement_NONDV1 update FAILED with error '
            + CONVERT(varchar,ISNULL(ERROR_NUMBER(),0))
            + ' Step ' + CONVERT(varchar,ISNULL(@v_step,0))
            + '. Error Msg: ' + ERROR_MESSAGE(),1,1023)
    END CATCH
    IF XACT_STATE() <> 0
    BEGIN
        ROLLBACK TRANSACTION
    END
    RETURN 0
