USE [HDSVault]
GO
/****** Object:  View [biz].[v_FacetsMemberUMI_current]    Script Date: 10/21/2025 12:15:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [biz].[v_FacetsMemberUMI_current](
ConstituentID, 
meme_ck, 
grgr_id, 
sbsb_id, 
meme_sfx, 
FirstName, 
LastName, 
Gender, 
BirthDate, 
SSN, 
SourceCode, 
dss_record_source, 
dss_load_date, 
dss_start_date, 
dss_version, 
dss_create_time)
AS
SELECT 
CMC_EXID_EXT_ID.EXID_ID, 
v_member_combined_current.meme_ck, 
v_group_combined_current.grgr_id, 
v_subscriber_combined_current.sbsb_id, 
v_member_combined_current.meme_sfx, 
v_member_combined_current.meme_first_name, 
v_member_combined_current.meme_last_name, 
v_member_combined_current.meme_sex, 
v_member_combined_current.meme_birth_dt, 
v_member_combined_current.meme_ssn, 
v_member_combined_current.bkcc_member, 
v_member_combined_current.dss_record_source, 
v_member_combined_current.dss_load_date, 
v_member_combined_current.dss_start_date, 
v_member_combined_current.dss_version, 
v_member_combined_current.dss_create_time 
FROM HDSVault.biz.v_member_combined_current v_member_combined_current
LEFT JOIN HDSInformationMart.dbo.CMC_EXID_EXT_ID CMC_EXID_EXT_ID
ON v_member_combined_current.bkcc_member = CASE WHEN CMC_EXID_EXT_ID.SourceID = 1 THEN 'GEM' 
ELSE 'FCT'
 END
AND  v_member_combined_current.MEMM_ROW_ID = CMC_EXID_EXT_ID.MEMM_ROW_ID
AND CMC_EXID_EXT_ID.EXID_MCTR_EXT_TYPE = 'EXRM'
JOIN HDSVault.biz.v_subscriber_combined_current v_subscriber_combined_current
ON v_subscriber_combined_current.sbsb_ck = v_member_combined_current.sbsb_ck
and v_subscriber_combined_current.bkcc_subscriber = v_member_combined_current.bkcc_member
JOIN HDSVault.biz.v_group_combined_current v_group_combined_current
ON v_group_combined_current.grgr_ck = v_member_combined_current.grgr_ck
and v_group_combined_current.bkcc_group = v_member_combined_current.bkcc_member
WHERE v_subscriber_combined_current.SBSB_ID NOT LIKE 'PROXY%'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Record source' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'VIEW',@level1name=N'v_FacetsMemberUMI_current', @level2type=N'COLUMN',@level2name=N'dss_record_source'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was loaded in the data vault' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'VIEW',@level1name=N'v_FacetsMemberUMI_current', @level2type=N'COLUMN',@level2name=N'dss_load_date'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row started in the data vault' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'VIEW',@level1name=N'v_FacetsMemberUMI_current', @level2type=N'COLUMN',@level2name=N'dss_start_date'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Version number of a business key in the data vault' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'VIEW',@level1name=N'v_FacetsMemberUMI_current', @level2type=N'COLUMN',@level2name=N'dss_version'
GO
EXEC sys.sp_addextendedproperty @name=N'Comment', @value=N'Date and time the row was inserted in the data vault' , @level0type=N'SCHEMA',@level0name=N'biz', @level1type=N'VIEW',@level1name=N'v_FacetsMemberUMI_current', @level2type=N'COLUMN',@level2name=N'dss_create_time'
GO
